# ignore special dirs
/tmp
/.settings
/.hxtypes

# output directories
/bin/cpp
/bin/cs
/bin/neko

# usage test
/bin/js/studio/**/*

# ignore project files
.classpath
.project

# ignore temp files
.DS_Store 
*.bak
~*
*.lock
