dist/
node_modules/
private/
playground/
obj/
bin/
temp/
.idea/
.vs/
*.user
*.tgz
test-results/
debug.log
src/generated/VersionInfo.ts

.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
**/build/
local.properties
.rollup.cache
test-data/bundler/webpack/out/
test-data/bundler/vite/public/
test-data/bundler/dist/public/