dist/
node_modules/
private/
playground/
obj/
bin/
.idea/
.vs/
*.user
*.tgz
test-results/
debug.log
src/generated/VersionInfo.ts
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
**/build/
local.properties