body {
    display: initial;
}

body > * {
    overflow: initial;
}

.at-wrap {
    height: auto;
    overflow:visible;
}

.at-content {
    overflow:visible;
}

.at-footer {
    position: sticky;
    width: 100%;
    bottom: 30px;
    left: 0;
    z-index: 1002;
}

.at-viewport {
    position:initial;
    top:initial;
    margin-left:70px;
    right:initial;
    bottom:initial;
}