Title: Core.ScriptFile
JsName: core.scriptFile;scriptFile
JsonName: core.scriptFile;scriptFile
DataAttribute: data-core-scriptfile;data-scriptfile
Category: Core - JavaScript Specific
Description: The full URL to the alphaTab JavaScript file.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    AlphaTab needs to know the full URL to the script file it is contained in to launch the web workers. AlphaTab will do its best to auto-detect
    this path but in case it fails, this setting can be used to explicitly define it. Altenatively also a global variable <code>ALPHATAB_ROOT</code> can
    be defined before initializing. Please be aware that bundling alphaTab together with other scripts might cause errors 
    in case those scripts are not suitable for web workers. e.g. if there is a script bundled together with alphaTab that accesses the DOM,
    this will cause an error when alphaTab starts this script as worker. 
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>string</code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>
Absolute url to JavaScript file containing alphaTab. (auto detected)