Title: Core.IncludeNoteBounds
JsName: core.includeNoteBounds;includeNoteBounds
JsonName: core.includeNoteBounds;includeNoteBounds
DataAttribute: data-core-includenotebounds;data-includenotebounds
Category: Core
Description: Gets or sets whether in the BoundsLookup also the position and area of each individual note is provided.
Since: 0.9.6
ShowInSideBar: false
---

<h2>Description</h2>
<p>
    AlphaTab collects the position of the rendered music notation elements during the rendering process. This way some level of interactivity can be provided like the feature that seeks to the corresponding position when clicking on a beat. 
    By default the position of the individual notes is not collected due to performance reasons. If access to note position information is needed, this setting can enable it. 
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>bool</code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>

<code>false</code>

<h2>Example - JavaScript</h2>

<pre>
<code class="language-javascript line-numbers">
const settings = {
    core: {
        includeNoteBounds: true
    }
};
let api = null;
document.querySelector('#alphaTab').addEventListener('alphaTab.rendered', function() {
    var lookup = api.renderer.boundsLookup;
    var x = 100;
    var y = 100;
    var beat = lookup.getBeatAtPos(x, y);
    var note = lookup.getNoteAtPos(beat, x, y); 
});
api = new alphaTab.platform.javaScript.AlphaTabApi(document.querySelector('#alphaTab'), settings);
</code>
</pre>