Title: Core.UseWorkers
JsName: core.useWorkers;useWorkers
JsonName: core.useWorkers;useWorkers
DataAttribute: data-core-useworkers;data-useworkers
Category: Core
Description: Gets or sets whether the rendering should be done in a worker if possible.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    AlphaTab normally tries to render the music sheet asynchronously in a worker. This reduces the load on the UI side and avoids hanging. However sometimes it might be more desirable to have
    a synchronous rendering behavior. This setting can be set to false to synchronously render the music sheet on the UI side.
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>bool</code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>
<code>true</code>