Title: Core.LogLevel
JsName: core.logLevel;logLevel
JsonName: core.logLevel;logLevel
DataAttribute: data-core-loglevel;data-loglevel
Category: Core
Description: The log level to use within alphaTab.
Since: 0.9.6
ShowInSideBar: false
---

<h2>Description</h2>
<p>
AlphaTab internally does quite a bit of logging for debugging and informational purposes. The log level of alphaTab can be controlled via this setting.
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Values</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-net">AlphaTab.Util.LogLevel <span>.net</span></td>
            <td>
                <code>None</code> -  No logging<br />
                <code>Debug</code> - Debug level (internal details are displayed)<br />
                <code>Info</code> - Info level (only important details are shown)<br />
                <code>Warning</code><br />
                <code>Error</code>
            </td>
        </tr>   
        <tr>
            <td><code class="code-badge code-badge-js">string <span>JSON &amp; HTML</span></td>
            <td>
                <code>none</code><br />
                <code>debug</code><br />
                <code>info</code><br />
                <code>warning</code><br />
                <code>error</code>
            </td>
        </tr>           
        <tr>
            <td><code class="code-badge code-badge-js">int <span>JavaScript &amp; HTML</span></td>
            <td>
                <code>0</code> - None<br />
                <code>1</code> - Debug<br />
                <code>2</code> - Info<br />
                <code>3</code> - Warning<br />
                <code>4</code> - Error
            </td>
        </tr>           
    </tbody>
</table>

<h2>Default Value</h2>
<code>Info</code>

