Title: Core.Engine
JsName: core.engine;engine
JsonName: core.engine;engine
DataAttribute: data-core-engine;data-engine
Category: Core
Description: The engine which should be used to render the the tablature.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    AlphaTab can use various render engines to draw the music notation. The available render engines is specific to the platform. Please refer to the table below to find out which engines are available on which platform.    
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Values</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-net">string <span>.net</span></td>
            <td>
                <code>skia</code> - Available on all .net platforms. Uses <a href="https://skia.org/" target="_blank">Skia</a> for rendering<br />
                <code>gdi</code> - Only available desktop .net. Uses <a href="https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/graphics-and-drawing-in-windows-forms" target="_blank">GDI+</a> for rendering <br />
                <code>svg</code> - Available on all .net platforms. Outputs SVG strings. 
            </td>
        </tr>   
        <tr>
            <td><code class="code-badge code-badge-js">string <span>JavaScript &amp; HTML</span></td>
            <td>
                <code>svg</code> - Outputs SVG strings.<br />
                <code>html5</code> - Uses HTML5 canvas elements to render the music notation. 
            </td>
        </tr>
    </tbody>
</table>

<h2>Default Value</h2>

<code>default</code> which is mapped per platform: 

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-net">skia <span>.net</span></td>
        </tr>   
        <tr>
            <td><code class="code-badge code-badge-js">svg <span>JavaScript &amp; HTML</span></td>
        </tr>
    </tbody>
</table>