Title: Display.Resources.ScoreInfoColor
JsName: display.resources.scoreInfoColor;resources.scoreInfoColor
JsonName: display.resources.scoreInfoColor;resources.scoreInfoColor
DataAttribute: data-display-resources-scoreinfocolor;data-resources-scoreinfocolor
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Color
JsType: alphaTab.platform.model.Color
JsonType: string;int
DefaultValue: rgb(0, 0, 0)
Description: The color to use for displaying the song information above the music sheets.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>