Title: Display.BarsPerRow
JsName: display.barsPerRow;barsPerRow
JsonName: display.barsPerRow;barsPerRow
DataAttribute: data-display-barsperrow, data-barsperrow
Category: Display
Description: Limit the displayed bars per row.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    This setting sets the number of bars that should be put into one row during layouting. This setting is only respected
    when using the layoutMode <code>page</code> where bars are aligned in rows. 
    <a href="@Context.GetLink("/features/layouts")#page-layout-5-bars">Demo</a>
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Values</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-all">int <span>all</span></code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>

<code>-1</code> - automatic 