Title: Display.Resources.EffectFont
JsName: display.resources.effectFont;resources.effectFont
JsonName: display.resources.effectFont;resources.effectFont
DataAttribute: data-display-resources-effectfont;data-resources-effectfont
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: alphaTab.platform.model.Font
JsonType: string
DefaultValue: italic 12px Georgia
Description: The font to use for displaying certain effect related elements in the music sheet.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>