Title: Display.Resources.FingeringFont
JsName: display.resources.fingeringFont;resources.fingeringFont
JsonName: display.resources.fingeringFont;resources.fingeringFont
DataAttribute: data-display-resources-fingeringfont;data-resources-fingeringfont
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: alphaTab.platform.model.Font
JsonType: string
DefaultValue: 14px Georgia
Description: The font to use for displaying finger information in the music sheet.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>