Title: Display.Resources.MarkerFont
JsName: display.resources.markerFont;resources.markerFont
JsonName: display.resources.markerFont;resources.markerFont
DataAttribute: data-display-resources-markerfont;data-resources-markerfont
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: alphaTab.platform.model.Font
JsonType: string
DefaultValue: bold 14px Georgia
Description: The font to use for section marker labels shown above the music sheet.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>