Title: Display.Resources.BarNumberColor
JsName: display.resources.barNumberColor;resources.barNumberColor
JsonName: display.resources.barNumberColor;resources.barNumberColor
DataAttribute: data-display-resources-barnumbercolor;data-resources-barnumbercolor
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Color
JsType: alphaTab.platform.model.Color
JsonType: string;int
DefaultValue: rgb(200, 0, 0)
Description: The color to use for displaying the bar numbers above the music sheet.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>