Title: Display.Resources.CopyrightFont
JsName: display.resources.copyrightFont;resources.copyrightFont
JsonName: display.resources.copyrightFont;resources.copyrightFont
DataAttribute: data-display-resources-copyrightfont;data-resources-copyrightfont
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: alphaTab.platform.model.Font
JsonType: string
DefaultValue: bold 12px Arial
Description: The font to use for displaying the songs copyright information in the header of the music sheet.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>