Title: Display.Resources.FretboardNumberFont
JsName: display.resources.fretboardNumberFont;resources.fretboardNumberFont
JsonName: display.resources.fretboardNumberFont;resources.fretboardNumberFont
DataAttribute: data-display-resources-fretboardnumberfont;data-resources-fretboardnumberfont
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: alphaTab.platform.model.Font
JsonType: string
DefaultValue: 11px Arial
Description: The font to use for displaying the fretboard numbers in chord diagrams.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>