Title: Display.Resources.WordsFont
JsName: display.resources.wordsFont;resources.wordsFont
JsonName: display.resources.wordsFont;resources.wordsFont
DataAttribute: data-display-resources-wordsfont;data-resources-wordsfont
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: alphaTab.platform.model.Font
JsonType: string
DefaultValue: 15px Arial
Description: The font to use for displaying the lyrics information in the header of the music sheet.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>