Title: Display.Resources.SecondaryGlyphColor
JsName: display.resources.secondaryGlyphColor;resources.secondaryGlyphColor
JsonName: display.resources.secondaryGlyphColor;resources.secondaryGlyphColor
DataAttribute: data-display-resources-secondaryglyphcolor;data-resources-secondaryglyphcolor
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Color
JsType: alphaTab.platform.model.Color
JsonType: string;int
DefaultValue: rgb(0,0,0,0.4)
Description: The color to use for music notation elements of the secondary voices.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>