Title: Display.Resources.GraceFont
JsName: display.resources.graceFont;resources.graceFont
JsonName: display.resources.graceFont;resources.graceFont
DataAttribute: data-display-resources-gracefont;data-resources-gracefont
Category: Display - Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: alphaTab.platform.model.Font
JsonType: string
DefaultValue: 11px Arial
Description: The font to use for grace notation related texts in the music sheet.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/display-resources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>