Title: Display.Scale
JsName: display.scale;scale
JsonName: display.scale;scale
DataAttribute: data-display-scale, data-scale
Category: Display
Description: Sets the zoom level of the rendered notation.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    AlphaTab can scale up or down the rendered music notation for more optimized display scenarios. By default music notation is rendered ad 100% scale (value 1) and can be scaled up or down by 
    percental values.
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Values</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-all">float <span>all</span></code></td>
            <td>
                <code>1.0</code> -  100%<br />
                <code>1.2</code> -  120%<br />
                <code>0.8</code> -  80%
            </td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>
<code>1.0</code>