Title: ImporterSettings
JsName: importer.*
DataAttribute: data-importer-*
Category: Importer
Description: Specific settings for importers. Keys are specific for the importers
ShowInSideBar: false
---

<h2>Description</h2>
<p>
    The importer settings control the behavior while reading the input files. The settings are specific to the importers.
</p>