Title: Layout.AdditionalSettings
JsName: layout.mode.additionalSettings
DataAttribute: data-layout-*
Category: Layout
Description: Additional layout mode specific settings.
ShowInSideBar: false
---


<h2>Description</h2>
<p>
    The layout settings allow configuring how the internal layout engine should behave.
</p>