Title: Notation.RhythmMode
JsName: notation.rhythmMode
JsonName: notation.rhythmMode
DataAttribute: data-notation-rhythmmode
Category: Notation
Description: Controls how the rhythm notation is rendered for tab staves. 
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    This setting enables the display of rhythm notation on tab staffs. <a href="@Context.GetLink("/features/guitar-tabs")#rhythm">Demo</a>
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Values</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-net">AlphaTab.TabRhythmMode <span>.net</span></td>
            <td>
                <code>Hidden</code> -  No rhythm notation is shown<br />
                <code>ShowWithBeams</code> - Rhythm notation is rendered with all beats having individual beams<br />
                <code>ShowWithBars</code> - Rhythm notation is rendered with normal bars like on standard notation<br />
            </td>
        </tr>   
        <tr>
            <td><code class="code-badge code-badge-js">string <span>JSON &amp; HTML</span></td>
            <td>
                <code>hidden</code><br />
                <code>showwithbeams</code><br />
                <code>showwithbars</code>
            </td>
        </tr>           
        <tr>
            <td><code class="code-badge code-badge-js">int <span>JavaScript &amp; HTML</span></td>
            <td>
                <code>0</code> - Hidden<br />
                <code>1</code> - ShowWithBeams<br />
                <code>2</code> - ShowWithBars
            </td>
        </tr>           
    </tbody>
</table>


<h2>Default Value</h2>

<code>hidden</code>
