Title: Notation.HideTrackNames
JsName: notation.hideTrackNames
JsonName: notation.hideTrackNames
DataAttribute: data-notation-hidetracknames
Category: Notation
Description: Render the track names or not.
Since: 0.9.6
ShowInSideBar: false
---

<h2>Description</h2>
<p>
    This setting controls whether the track names are shown at the beginning of the staff or not. 
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>bool</code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>

<code>false</code>