Title: Notation.RhythmHeight
JsName: notation.RhythmHeight
JsonName: notation.RhythmHeight
DataAttribute: data-notation-rhythmheight
Category: Notation
Description: Controls how high the ryhthm notation is rendered below the tab staff
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    This setting can be used in combination with the <code>RhythmMode</code> setting to control how high the rhythm notation should be rendered below the tab staff. <a href="@Context.GetLink("/examples/stave-configurations/rhythm")">Demo</a>
</p>

@Html.Partial("_PropertyDescription", Model) 

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>bool</code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>

<code>15</code>