Title: Notation.ShowZeroOnDiveWhammy
JsName: notation.showZeroOnDiveWhammy
JsonName: notation.showZeroOnDiveWhammy
DataAttribute: data-notation-showzeroondivewhammy
Category: Notation
Description: If set to true, 0 is shown on dive whammy bars.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    By default there are no 0 values shown on dive whammy bar effects. If this setting is set to true, they are shown. 
</p>

@Html.Partial("_PropertyDescription", Model) 

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Enabled</th>
            <th>Disabled</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><img src="@Context.GetLink("/reference/property/showzeroondivewhammy-enabled.png")" alt="Enabled" /></td>
            <td><img src="@Context.GetLink("/reference/property/showzeroondivewhammy-disabled.png")" alt="Disabled" /></td>
        </tr>   
    </tbody>
</table>

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>bool</code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>

<code>false</code>