Title: Notation.SlurHeight
JsName: notation.slurHeight
JsonName: notation.slurHeight
DataAttribute: data-notation.slurheight
Category: Notation
Description: The height scale factor for slurs
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>

<p>
    Slurs and ties currently calculate their height based on the distance they have from start to end note. Most music notation software do some complex collision detection to avoid a slur to overlap with other elements, alphaTab
    only has a simplified version of the slur positioning as of today. This setting allows adjusting the slur height to avoid collisions. The factor defined by this setting, is multiplied with the logarithmic sitance between start and end. 
</p>

@Html.Partial("_PropertyDescription", Model) 

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Slur Height Default</th>
            <th>Slur Height 14</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><img src="@Context.GetLink("/reference/property/slurheight-default.png")" alt="Enabled" /></td>
            <td><img src="@Context.GetLink("/reference/property/slurheight-14.png")" alt="Disabled" /></td>
        </tr>   
    </tbody>
</table>

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Values</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-all">float <span>all</span></code></td>
            <td>
                <code>7</code>
                <code>14</code>
                <code>3.5</code>
            </td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>
<code>7</code>