Title: Player.ScrollMode
JsName: player.scrollMode
JsonName: player.scrollMode
DataAttribute: data-player-scrollmode
Category: Player
Description: Gets or sets the mode how to scroll.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
This setting controls how alphaTab behaves for scrolling. It supports 3 modes: 
</p>

@Html.Partial("_PropertyDescription", Model)

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Values</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-net">AlphaTab.ScrollMode <span>.net</span></td>
            <td>
                <code>Off</code> - No automatic scrolling is done<br />
                <code>Continuous</code> - Scrolling happens as soon the offsets of the cursors change<br />
                <code>OffScreen</code> - Scrolling happens as soon the cursors exceed the displayed range<br />
            </td>
        </tr>   
        <tr>
            <td><code class="code-badge code-badge-js">string <span>JSON &amp; HTML</span></td>
            <td>
                <code>off</code><br />
                <code>continuous</code><br />
                <code>offscreen</code>
            </td>
        </tr>           
        <tr>
            <td><code class="code-badge code-badge-js">int <span>JavaScript &amp; HTML</span></td>
            <td>
                <code>0</code> - Off<br />
                <code>1</code> - Continuous<br />
                <code>2</code> - OffScreen
            </td>
        </tr>           
    </tbody>
</table>

<h2>Default Value</h2>

<code>Continuous</code>