Title: Player.Vibrato.BeatSlightLength
JsName: player.vibrato.beatSlightLength
JsonName: player.vibrato.beatSlightLength
DataAttribute: data-player-vibrato-beatslightlength
Category: Player
Type: int
DefaultValue: 240
Description: The wavelength of the beat-slight vibrato in midi ticks.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/player-vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>