Title: Player.Vibrato.NoteWideAmplitude
JsName: player.vibrato.noteWideAmplitude
JsonName: player.vibrato.noteWideAmplitude
DataAttribute: data-player-vibrato-notewideamplitude
Category: Player
Type: int
DefaultValue: 2
Description: The amplitude for the note-wide vibrato in semitones.
ShowInSideBar: false
Since: 0.9.6
Link: /reference/property/player-vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>