Title: Player.SoundFont
JsName: player.soundFont
JsonName: player.soundFont
DataAttribute: data-player-soundfont
Category: Player - JavaScript Specific
Description: The sound font file to load for the player.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    When the player is enabled the soundfont from this URL will be loaded automatically after the player is ready.   
</p>

@Html.Partial("_PropertyDescription", Model)

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>string</code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>
<code>null</code>