Title: Player.Vibrato.NoteWideLength
JsName: player.vibrato.noteWideLength
JsonName: player.vibrato.noteWideLength
DataAttribute: data-player-vibrato-notewidelength
Category: Player
Type: int
DefaultValue: 480
Description: The wavelength of the note-wide vibrato in midi ticks.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/player-vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>