Title: Player.Vibrato.NoteSlightLength
JsName: player.vibrato.noteSlightLength
JsonName: player.vibrato.noteSlightLength
DataAttribute: data-player-vibrato-noteslightlength
Category: Player
Type: int
DefaultValue: 480
Description: The wavelength of the note-slight vibrato in midi ticks.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/player-vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>