Title: Player.ScrollOffsetX
JsName: player.playerOffsetX
JsonName: player.playerOffsetX
DataAttribute: data-player-playeroffsetx
Category: Player
Description: Gets or sets the X-offset to add when scrolling.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
When alphaTab does an auto-scrolling to the displayed bar, it will try to align the view port to the displayed bar. If due to 
some layout specifics or for aesthetics a small padding is needed, this setting allows an additional X-offset that is added to the 
scroll position. 
</p>

@Html.Partial("_PropertyDescription", Model)

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Values</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-all">int <span>all</span></td>
            <td>
                <code>-10</code><br />
                <code>20</code>
            </td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>

<code>0</code>