Title: Player.PlayTripletFeel
JsName: player.playTripletFeel
JsonName: player.playTripletFeel
DataAttribute: data-player-playtripletfeel
Category: Player
Description: Gets or sets whether the triplet feel should be played or only displayed.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    If this setting is enabled alphaTab will play the triplet feels accordingly, if it is disabled the triplet feel is only displayed but not played. 
</p>

@Html.Partial("_PropertyDescription", Model)

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>bool</code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>

<code>true</code>