Title: Player.SongBookDipDuration
JsName: player.songBookDipDuration
JsonName: player.songBookDipDuration
DataAttribute: data-player-songbookdipduration
Category: Player
Description: The duration of whammy dips in milliseconds for songbook whammys.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    If the display mode <code>songbook</code> is enabled, this has an effect on the way whammy dips are played. For songbook dips the whammy is pressed very quickly at the start of the beat. 
    This setting defines the play duration for those whammy bars in milliseconds. This duration is in milliseconds unlike some other settings which are in midi ticks. The reason is that on songbook dips, 
    the whammy should always be pressed in the same speed, regardless of the song tempo. Midi ticks are tempo dependent. 
</p>

@Html.Partial("_PropertyDescription", Model)

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Values</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-all">int <span>all</span></td>
            <td>
                <code>75</code><br />
                <code>120</code><br />
                <code>250</code>
            </td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>

<code>150</code>