Title: Player.EnableCursor
JsName: player.enableCursor
JsonName: player.enableCursor
DataAttribute: data-player-enablecursor
Category: Player
Description: Gets or sets whether playback cursors should be displayed.
ShowInSideBar: false
Since: 0.9.6
---

<h2>Description</h2>
<p>
    This setting configures whether the playback cursors are shown or not. In case a developer decides to built an own cursor system the default one can be disabled with this setting. Enabling the cursor also requires the player to be active. 
</p>

@Html.Partial("_PropertyDescription", Model)

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>bool</code></td>
        </tr>   
    </tbody>
</table>

<h2>Default Value</h2>

<code>true</code>