Title: Player.Vibrato.BeatWideAmplitude
JsName: player.vibrato.beatWideAmplitude
JsonName: player.vibrato.beatWideAmplitude
DataAttribute: data-player-vibrato-beatwideamplitude
Category: Player
Type: int
DefaultValue: 3
Description: The amplitude for the beat-wide vibrato in semitones.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/player-vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>