Title: Player.Vibrato.NoteSlightAmplitude
JsName: player.vibrato.noteSlightAmplitude
JsonName: player.vibrato.noteSlightAmplitude
DataAttribute: data-player-vibrato-noteslightamplitude
Category: Player
Type: int
DefaultValue: 2
Description: The amplitude for the note-slight vibrato in semitones.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/player-vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>