Title: Player.Vibrato.BeatSlightAmplitude
JsName: player.vibrato.beatSlightAmplitude
JsonName: player.vibrato.beatSlightAmplitude
DataAttribute: data-player-vibrato-beatslightamplitude
Category: Player
Type: int
DefaultValue: 3
Description: The amplitude for the beat-slight vibrato in semitones.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/player-vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>