Title: Player.Vibrato.BeatWideLength
JsName: player.vibrato.beatWideLength
JsonName: player.vibrato.beatWideLength
DataAttribute: data-player-vibrato-beatwidelength
Category: Player
Type: int
DefaultValue: 240
Description: The wavelength of the beat-wide vibrato in midi ticks.
ShowInSideBar: false
ShowInTable: false
Since: 0.9.6
Link: /reference/property/player-vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>