Title: RenderingResources.CopyrightFont
JsName: resources.copyrightFont
DataAttribute: data-resources-copyright-font
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: string
DefaultValue: Arial 12px bold
Description: The font to use for displaying the songs copyright information in the header of the music sheet.
ShowInSideBar: false
Since: 0.9.4
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>