Title: RenderingResources.StaffLineColor
JsName: resources.staffLineColor
DataAttribute: data-resources-staff-line-color
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Color
JsType: string;int
DefaultValue: rgb(165, 165, 165)
Description: The color to use for rendering the lines of staves.
ShowInSideBar: false
Since: 0.9.4
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>