Title: RenderingResources.BarSeparatorColor
JsName: resources.barSeparatorColor
DataAttribute: data-resources-bar-separator-color
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Color
JsType: string;int
DefaultValue: rgb(34, 34, 17)
Description: The color to use for rendering bar separators, the accolade and repeat signs.
ShowInSideBar: false
Since: 0.9.4
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>