Title: RenderingResources.MainGlyphColor
JsName: resources.mainGlyphColor
DataAttribute: data-resources-main-glyph-color
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Color
JsType: string;int
DefaultValue: rgb(0, 0, 0)
Description: The color to use for music notation elements of the primary voice.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>