Title: RenderingResources.BarNumberFont
JsName: resources.barNumberFont
DataAttribute: data-resources-bar-number-font
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: string
DefaultValue: Arial 11px
Description: The font to use for displaying the bar numbers above the music sheet.
ShowInSideBar: false
Since: 0.9.4
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>