Title: RenderingResources.TablatureFont
JsName: resources.tablatureFont
DataAttribute: data-resources-tablature-font
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: string
DefaultValue: Arial 13px
Description: The font to use for displaying the guitar tablature numbers in the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>