Title: RenderingResources.BarNumberFont
JsName: resources.barNumberFont
DataAttribute: data-resources-bar-number-font
Category: Rendering Resources
Description: The font to use for displaying the bar numbers above the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>