Title: RenderingResources.WordsFont
JsName: resources.wordsFont
DataAttribute: data-resources-words-font
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: string
DefaultValue: Arial 15px
Description: The font to use for displaying the lyrics information in the header of the music sheet.
ShowInSideBar: false
Since: 0.9.4
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>