Title: RenderingResources.CopyrightFont
JsName: resources.copyrightFont
DataAttribute: data-resources-copyright-font
Category: Rendering Resources
Description: The font to use for displaying the songs copyright information in the header of the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>