Title: RenderingResources.GraceFont
JsName: resources.graceFont
DataAttribute: data-resources-grace-font
Category: Rendering Resources
Description: The font to use for grace notation related texts in the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>