Title: RenderingResources.SubTitleFont
JsName: resources.subTitleFont
DataAttribute: data-resources-subtitle-font
Category: Rendering Resources
Description: The font to use for displaying the songs subtitle in the header of the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>