Title: RenderingResources.BarNumberColor
JsName: resources.barNumberColor
DataAttribute: data-resources-bar-number-color
Category: Rendering Resources
Description: The color to use for displaying the bar numbers above the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>