Title: RenderingResources.SecondaryGlyphColor
JsName: resources.secondaryGlyphColor
DataAttribute: data-resources-secondary-glyph-color
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Color
JsType: string;int
DefaultValue: rgb(0,0,0,0.4)
Description: The color to use for music notation elements of the secondary voices.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>