Title: RenderingResources.TitleFont
JsName: resources.titleFont
DataAttribute: data-resources-title-font
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: string
DefaultValue: Georgia 32px
Description: The font to use for displaying the songs title in the header of the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>