Title: RenderingResources
JsName: resources
DataAttribute: data-resources-*
Category: Rendering Resources
Description: The rendering resources that allow adjusting the display and 
ShowInSideBar: false
---

<h2>Description</h2>
<p>
    AlphaTab allows configuring the colors and fonts used for rendering via the rendering resources settings. Please note that as of today
    this is the primary way of changing the way how alphaTab styles elements. CSS styling in the browser cannot be guaranteed to work due to its flexibility. 
</p>



<h2>Resources</h2>
Following resources exist for adjusting the style. 

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Resource</th>
            <th>Type</th>
            <th>Default</th>
            <th>Summary</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td><code>BarNumberFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Arial 11px</td>
            <td>
                The font to use for displaying the bar numbers above the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>CopyrightFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Arial 12px bold</td>
            <td>
                The font to use for displaying the songs copyright information in the header of the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>TitleFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Georgia 32px</td>
            <td>
                The font to use for displaying the songs title in the header of the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>SubTitleFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Georgia 20px</td>
            <td>
                The font to use for displaying the songs subtitle in the header of the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>WordsFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Georgia 15px</td>
            <td>
                The font to use for displaying the lyrics information in the header of the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>EffectFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Georgia 12px italic</td>
            <td>
                The font to use for displaying certain effect related elements in the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>FretboardNumberFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Arial 11px</td>
            <td>
                The font to use for displaying the fretboard numbers in chord diagrams. 
            </td>
        </tr>   
        <tr>
            <td><code>TablatureFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Arial 13px</td>
            <td>
                The font to use for displaying the guitar tablature numbers in the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>GraceFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Arial 11px</td>
            <td>
                The font to use for grace notation related texts in the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>FingeringFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Georgia 14px</td>
            <td>            
                The font to use for displaying finger information in the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>MarkerFont</td>
            <td>
                <code>AlphaTab.Platform.Model.Font <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>Georgia 14px bold</td>
            <td>
                The font to use for section marker labels shown above the music sheet. 
            </td>
        </tr>   
        
        
        <tr>
            <td><code>BarNumberColor</td>
            <td>
                <code>AlphaTab.Platform.Model.Color <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
                <code>int <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>rgb(200, 0, 0)</td>
            <td>
                The color to use for displaying the bar numbers above the music sheet. 
            </td>
        </tr>   
        <tr>
            <td><code>BarSeparatorColor</td>
            <td>
                <code>AlphaTab.Platform.Model.Color <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
                <code>int <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>rgb(34, 34, 17)</td>
            <td>
                The color to use for rendering bar separators, the accolade and repeat signs. 
            </td>
        </tr>   
        <tr>
            <td><code>StaffLineColor</td>
            <td>
                <code>AlphaTab.Platform.Model.Color <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
                <code>int <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>rgb(165, 165, 165)</td>
            <td>
                The color to use for rendering the lines of staves. 
            </td>
        </tr>   
        <tr>
            <td><code>MainGlyphColor</td>
            <td>
                <code>AlphaTab.Platform.Model.Color <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
                <code>int <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>rgb(0, 0, 0)</td>
            <td>
                The color to use for music notation elements of the primary voice. 
            </td>
        </tr>   
        <tr>
            <td><code>SecondaryGlyphColor</td>
            <td>
                <code>AlphaTab.Platform.Model.Color <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
                <code>int <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>rgba(0,0,0,0.4)</td>
            <td>
                The color to use for music notation elements of the secondary voices. 
            </td>
        </tr>
        <tr>
            <td><code>ScoreInfoColor</td>
            <td>
                <code>AlphaTab.Platform.Model.Color <span class="code-badge">.net</span></code><br />
                <code>string <span class="code-badge">JavaScript &amp; HTML</span></code>
                <code>int <span class="code-badge">JavaScript &amp; HTML</span></code>
            </td>
            <td>rgb(0, 0, 0)</td>
            <td>
                The color to use for displaying the song information above the music sheet. 
            </td>
        </tr>   
    </tbody>
</table>

<h2>Types</h2>

<h3>Fonts</h3>
<p>
For the .net platform any installed font on the system can be used. For JavaScript until <a href="https://github.com/CoderLine/alphaTab/issues/266" target="_blank">this feature</a> is implemented the 2 fonts "Arial" and "Georgia" are officially supported. Due to the nature of Web Workers, no font metrics are available which needs a custom solution for measuring texts. 
<br />
On .net simply construct the <code>Font</code> object to configure your desired fonts. For JavaScript you can use any CSS font property compliant string. Relative font sizes with percentual values are not supported.
</p>


<h3>Colors</h3>
<p>
On .net simply construct the <code>Color</code> object to configure your desired color. For JavaScript you can use any CSS font property compliant string. (#RGB, #RGBA, #RRGGBB, #RRGGBBAA, rgb(r,g,b), rgba(r,g,b,a) )
</p>    

<h2>Example - C#</h2>

<pre>
<code class="language-csharp line-numbers">
var settings = Settings.Defaults; 
settings.RenderingResources.EffectFont = new Font("Roboto Slab", 12f, FontStyle.Italic);
settings.RenderingResources.CopyrightFont = new Font("Roboto", 12f, FontStyle.Bold);
settings.RenderingResources.FretboardNumberFont = new Font("Roboto", 11f, FontStyle.Plain);
settings.RenderingResources.TitleFont = new Font("Roboto Slab", 32f, FontStyle.Plain);
settings.RenderingResources.SubTitleFont = new Font("Roboto Slab", 20f, FontStyle.Plain);
settings.RenderingResources.WordsFont = new Font("Roboto Slab", 15f, FontStyle.Plain);
settings.RenderingResources.TablatureFont = new Font("Roboto", 13f, FontStyle.Plain);
settings.RenderingResources.GraceFont = new Font("Roboto", 11f, FontStyle.Plain);
</code>
</pre>


<h2>Example - JavaScript</h2>

<pre>
<code class="language-javascript line-numbers">
var settings = {
    resources: {
        effectFont: "italic 12px 'Roboto Slab'",
        copyrightFont: "bold 12px Roboto",
        fretboardNumberFont: "11px Roboto",
        titleFont: "32px 'Roboto Slab'",
        subTitleFont: "20px 'Roboto Slab'",
        wordsFont: "15px 'Roboto Slab'",
        tablatureFont: "13px 'Roboto Slab'",
        graceFont: "11px 'Roboto Slab'"
    }
};
var api = new alphaTab.platform.javaScript.AlphaTabApi(document.querySelector('#alphaTab'), settings);
var japi = $('#alphaTab').alphaTab(settings);
</code>
</pre>

<h2>Example - HTML</h2>

<pre>
<code class="language-html line-numbers">
&lt;div id="alphaTab" 
        data-resources-effect-font="italic 12px 'Roboto Slab'"
        data-resources-copyright-font="bold 12px Roboto"
        data-resources-fretboard-number-font="11px Roboto"
        data-resources-title-font="32px 'Roboto Slab'"
        data-resources-sub-title-font="20px 'Roboto Slab'"
        data-resources-words-font="15px 'Roboto Slab'"
        data-resources-tablature-font="13px 'Roboto Slab'"
        data-resources-grace-font="1px 'Roboto Slab'"
&gt;&lt;/div&gt;
</code>
</pre>