Title: RenderingResources.SubTitleFont
JsName: resources.subTitleFont
DataAttribute: data-resources-subtitle-font
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: string
DefaultValue: Georgia 20px
Description: The font to use for displaying the songs subtitle in the header of the music sheet.
ShowInSideBar: false
Since: 0.9.4
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>