Title: RenderingResources.FretboardNumberFont
JsName: resources.fretboardNumberFont
DataAttribute: data-resources-fretboard-number-font
Category: Rendering Resources
Description: The font to use for displaying the fretboard numbers in chord diagrams.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>