Title: RenderingResources.MarkerFont
JsName: resources.markerFont
DataAttribute: data-resources-marker-font
Category: Rendering Resources
Type: AlphaTab.Platform.Model.Font
JsType: string
DefaultValue: Georgia 14px bold
Description: The font to use for section marker labels shown above the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>