Title: RenderingResources.WordsFont
JsName: resources.wordsFont
DataAttribute: data-resources-words-font
Category: Rendering Resources
Description: The font to use for displaying the lyrics information in the header of the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>