Title: RenderingResources.EffectFont
JsName: resources.effectFont
DataAttribute: data-resources-effect-font
Category: Rendering Resources
Description: The font to use for displaying certain effect related elements in the music sheet.
ShowInSideBar: false
Link: /reference/property/renderingresources
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>