Title: Staves.AdditionalSettings
JsName: staves.additionalSettings
DataAttribute: data-staves-*
Category: Staves
Description: Additional staff specific settings.
ShowInSideBar: false
---


<h2>Description</h2>
<p>
    These settings allow additional configuration of staff specifics. 
</p>