Title: Vibrato.NoteSlightAmplitude
JsName: vibrato.noteSlightAmplitude
DataAttribute: data-vibrato-note-slight-amplitude
Category: Vibrato
Type: int
DefaultValue: 2
Description: The amplitude for the note-slight vibrato in semitones.
ShowInSideBar: false
Since: 0.9.4
Link: /reference/property/vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>