Title: Vibrato.BeatSlightLength
JsName: vibrato.beatSlightLength
DataAttribute: data-vibrato-beat-slight-length
Category: Vibrato
Type: int
DefaultValue: 240
Description: The wavelength of the beat-slight vibrato in midi ticks.
ShowInSideBar: false
Link: /reference/property/vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>