Title: Vibrato.BeatSlightAmplitude
JsName: vibrato.beatSlightAmplitude
DataAttribute: data-vibrato-beat-slight-amplitude
Category: Vibrato
Type: int
DefaultValue: 3
Description: The amplitude for the beat-slight vibrato in semitones.
ShowInSideBar: false
Since: 0.9.4
Link: /reference/property/vibrato
---
<a href="@Context.GetLink(Context.Get<string>("Link"))">See here</a>