Title: Colors and Fonts
Order: 10
---

<div class="description">
    <p>AlphaTab comes with a default set of colors and fonts that are used for rendering. If this styles need to be adjusted, this can be done via 
    a list of settings:</p>
    
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Setting</th>
                <th>Type</th>
                <th>Used for</th>
                <th>Default</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>copyrightFont</td>      <td>Font</td>   <td>Music copyright information in page layouts</td> <td>bold 12px Arial</td></tr>
            <tr><td>titleFont</td>          <td>Font</td>   <td>Title of the song in page layouts</td> <td>32px Georgia</td></tr>
            <tr><td>subTitleFont</td>       <td>Font</td>   <td>Subtitle of the song in page layouts</td> <td>20px Georgia</td></tr>
            <tr><td>wordsFont</td>          <td>Font</td>   <td>Lyrics information of the song in page layouts</td> <td>15px Georgia</td></tr>
            <tr><td>effectFont</td>         <td>Font</td>   <td>Effect annotations: Texts, capo, chords, lyrics, tap/slap/pop, chord diagrams, palm-mute, let-ring, triplet-feel, tuning name</td> <td>italic 12px Georgia</td></tr>
            <tr><td>fretboardNumberFont</td><td>Font</td>   <td>The fret numbers in chord diagrams</td> <td>11px Arial</td></tr>
            <tr><td>tablatureFont</td>      <td>Font</td>   <td>The numbers in tablature staves</td> <td>13px Arial</td></tr>
            <tr><td>graceFont</td>          <td>Font</td>   <td>The numbers grace notes in tablature staves</td> <td>11px Arial</td></tr>
            <tr><td>barNumberFont</td>      <td>Font</td>   <td>The numbers above bars</td> <td>11px Arial</td></tr>
            <tr><td>fingeringFont</td>      <td>Font</td>   <td>The numbers shown for fingering information</td><td>14px Georgia</td></tr>
            <tr><td>markerFont</td>         <td>Font</td>   <td>The section marker labels</td> <td>bold 14px Arial</td> </tr>
            
            <tr><td>staffLineColor</td>     <td>Color</td>  <td>The lines for all staves</td> <td>rgb(165,165,165)</td></tr>
            <tr><td>barSeparatorColor</td>  <td>Color</td>  <td>The lines for bar separators and repeat indicators</td> <td>rgb(34,34,17)</td></tr>
            <tr><td>barNumberColor</td>     <td>Color</td>  <td>The numbers above bars</td> <td>rgb(200,0,0)</td></tr>
            <tr><td>mainGlyphColor</td>     <td>Color</td>  <td>All main glyphs of the music sheet</td> <td>rgb(0,0,0)</td></tr>
            <tr><td>secondaryGlyphColor</td><td>Color</td>  <td>All glyphs on non-main voices</td> <td>rgba(0,0,0,0.40)</td></tr>
            <tr><td>scoreInfoColor</td>     <td>Color</td>  <td>The song information in page layouts</td> <td>rgb(0,0,0)</td></tr>
        </tbody>
    </table>
    
    <p>Any attribute can also be specified as HTML5 Data annotation by using <code>resources-</code> prefix. </p>
    
    <div class="panel panel-info"> 
        <div class="panel-heading">
            <h3 class="panel-title">Usage of different fonts</h3> 
        </div>
        <div class="panel-body">
        The usage of other fonts can result in alignment or layouting issues and in a slighly worse performance. If such problems are detected, please inform us on <a href="https://github.com/CoderLine/alphaTab/issues/new/choose" target="_blank">GitHub</a>. The format for fonts is similar to the CSS shorthand font declarations but with some limitations: <code>Style Size Family</code>. No relative font sizes are supported and every size beside px will be converted to px. For styles <code>italic</code> and <code>bold</code> are supported. 
        </div> 
    </div>
    
    <div class="panel panel-info"> 
        <div class="panel-heading">
            <h3 class="panel-title">Usage of different color</h3> 
        </div>
        <div class="panel-body">
        Most CSS color schemas are supported: #RGB, #RRGGBB, #RRGGBBAA, rgb(r,g,b), rgba(r,g,b,a) 
        </div>
    </div>
</div>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#scriptInit" role="tab" data-toggle="tab">Script Initialization</a></li>
    <li><a href="#dataInit" role="tab" data-toggle="tab">Data Attribute Initialization</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active example" id="scriptInit">
        <div class="html">
            <style>
                .alphaTabSurface { background: #000; }
            </style>
            <div id="alphaTabScriptInit"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabScriptInit').alphaTab({
                  file: '@Context.GetLink("/assets/files/features/Skillet.gp5")',
				  display: {
					  resources: {
						copyrightFont: "bold 12px Roboto",
						titleFont: "32px 'Roboto Slab'",
						subTitleFont: "20px 'Roboto Slab'",
						wordsFont: "15px 'Roboto Slab'",
						effectFont: "italic 12px 'Roboto Slab'",
						fretboardNumberFont: "11px Roboto",
						tablatureFont: "13px Roboto",
						graceFont: "11px Roboto",
						barNumberFont: "11px Roboto",
						fingeringFont: "14px 'Roboto Slab'",
						markerFont: "bold 14px Roboto",
		
						staffLineColor: "rgba(255,255,255, 0.8)",
						barSeparatorColor: "rgb(255,255,255)",
						barNumberColor: "rgba(255,255,255, 0.8)",
						mainGlyphColor: "rgb(255,255,255)",
						secondaryGlyphColor: "rgba(255,255,255,0.40)",
						scoreInfoColor: "rgb(255,255,255)"
					  }
                  }
                })
            </script>
        </div>
    </div>
    <div class="tab-pane example" id="dataInit">
        <div class="html">
            <style>
                .alphaTabSurface { background: #000; }
            </style>
            <div id="alphaTabDataInit" data-file="@Context.GetLink("/assets/files/features/Skillet.gp5")"
                data-display-resources-copyrightFont="bold 12px Roboto"
                data-display-resources-titleFont="32px 'Roboto Slab'"
                data-display-resources-subTitleFont="20px 'Roboto Slab'"
                data-display-resources-wordsFont="15px 'Roboto Slab'"
                data-display-resources-effectFont=" italic 12px 'Roboto Slab'"
                data-display-resources-fretboardNumberFont="11px Roboto"
                data-display-resources-tablatureFont="13px Roboto"
                data-display-resources-graceFont="11px Roboto"
                data-display-resources-barNumberFont="11px Roboto"
                data-display-resources-fingeringFont="14px 'Roboto Slab'"
                data-display-resources-markerFont=" bold 14px Roboto"

                data-display-resources-staffLineColor="rgba(255,255,255, 0.8)"
                data-display-resources-barSeparatorColor="rgb(255,255,255)"
                data-display-resources-barNumberColor="rgba(255,255,255, 0.8)"
                data-display-resources-mainGlyphColor="rgb(255,255,255)"
                data-display-resources-secondaryGlyphColor="rgba(255,255,255,0.40)"
                data-display-resources-scoreInfoColor="rgb(255,255,255)"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabDataInit').alphaTab()
            </script>
        </div>
    </div>
  </div>
</div>