Title: Configuring tracks
Order: 1
---

<div class="description">
    The displayed tracks can be controlled via <code>tracks</code> option or <code>data-tracks</code>.
    The value is a single index or an array of indexes of the tracks within the file that is loaded.
    You can also use the keyword <code>all</code> to render all tracks of the song. This is only recommended
    if there are not many tracks in the song.
</div>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#single" role="tab" data-toggle="tab">Single Track</a></li>
    <li><a href="#multi" role="tab" data-toggle="tab">Multiple Tracks</a></li>
    <li><a href="#all" role="tab" data-toggle="tab">Multiple Tracks (all)</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active example" id="single">
        <div class="html">
            <div id="alphaTabSingleTrack" data-file="@Context.GetLink("/assets/files/player/Canon.gp5")" data-tracks="3"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabSingleTrack').alphaTab()
            </script>
        </div>
    </div>
    <div class="tab-pane example" id="multi">
        <div class="html">
            <div id="alphaTabMultiple" data-file="@Context.GetLink("/assets/files/player/Canon.gp5")" data-tracks="[0,3]"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabMultiple').alphaTab()
            </script>
        </div>
    </div>
    <div class="tab-pane example" id="all">
        <div class="html">
            <div id="alphaTabAll" data-file="@Context.GetLink("/assets/files/TwoTracks.gp")" data-tracks="all"></div>
        </div>
        <div class="js">
            <script type="text/x-alphatab">
                $('#alphaTabAll').alphaTab()
            </script>
        </div>
    </div>
  </div>
</div>