@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
body {
  min-height: 2000px;
  padding-top: 70px;
  font-family: Open Sans, Arial, sans-serif;
}

body.features {
  padding-top: 100px;    
}

#alphaTab {
    display: table;
    margin: 0 auto;
}

.navbar-brand>img {
    max-height: 100%;
    display: inline-block;
}

.btn-link:link, .btn-link:hover, .btn-link:active, .btn-link:focus {
    text-decoration:none;
    outline:none;
}

.nav .progress {
    margin: 15px 10px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AAA;
}

.samples { position:absolute; width: 800px;}
.group { 
    display:none; 
    text-align: center; 
    font-size: 16px;
}

#alphaTabHorizontal .alphaTabSurface {
    margin: 0;
}

.alphaTabSurface { 
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    background:#FFF; 
    border-radius:3px; 
    margin: 0 auto;
}

#alphaTabScore {
    text-align: left;
    width:700px;
    margin: 0 auto;
}


.navbar-nocollapse .nav {
    float: left;
    margin: 0;
}
.navbar-nocollapse .navbar-header {
    float: left;
}

.navbar-nocollapse .navbar-nav>li {
    float: left;
}
