@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
body {
  min-height: 2000px;
  padding-top: 70px;
  font-family: Open Sans, Arial, sans-serif;
}

body.features {
  padding-top: 100px;    
}

.navbar-brand>img {
    max-height: 100%;
    display: inline-block;
}

.btn-link:link, .btn-link:hover, .btn-link:active, .btn-link:focus {
    text-decoration:none;
    outline:none;
}

.nav .progress {
    margin: 15px 10px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AAA;
}

.samples { position:absolute; width: 800px;}
.tab-container { position: relative; }
.group { 
    display:none; 
    text-align: center; 
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#alphaTabHorizontal .alphaTabSurface {
    margin: 0;
}

.alphaTabSurface { 
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
    background:#FFF; 
    border-radius:3px; 
}

body > .alphaTab:not(.horizontal) {
    width:95%;
    margin: 0 auto;
}

#alphaTabScore {
    text-align: left;
    width:700px;
    margin: 0 auto;
}


.navbar-nocollapse .nav {
    float: left;
    margin: 0;
}
.navbar-nocollapse .navbar-header {
    float: left;
}

.navbar-nocollapse .navbar-nav>li {
    float: left;
}

.navbar-nav>li>a {
    padding-left: 5px;
    padding-right: 5px;
}

#menuContainer {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
}

#menuContainer > div {
    display: inline-block;
    width: 100%;
}

#menuContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
    border-top: 1px solid #E4E5E6;
}
#menuContainer ul li a {
    padding: 5px 0;
    display: block;
    border-bottom: 1px solid #E4E5E6;
}

#sampleContent {
    display: none;
}

@font-face {
    font-family: 'alphaTab';
     src: url('../../../Build/JavaScript/Font/Bravura.eot');
     src: url('../../../Build/JavaScript/Font/Bravura.eot?#iefix') format('embedded-opentype')
          , url('../../../Build/JavaScript/Font/Bravura.woff') format('woff')
          , url('../../../Build/JavaScript/Font/Bravura.otf') format('opentype')
          , url('../../../Build/JavaScript/Font/Bravura.svg#Bravura') format('svg');
     font-weight: normal;
     font-style: normal;
}


@-moz-keyframes bounce { 
    0% { -moz-transform:translateY(0%); } 
    33% { -moz-transform:translateY(-25%); } 
    66% { -moz-transform:translateY(25%); } 
    100% { -moz-transform:translateY(0%); } 
}
@-webkit-keyframes bounce { 
    0% { -webkit-transform:translateY(0%); } 
    33% { -webkit-transform:translateY(-25%); } 
    66% { -webkit-transform:translateY(25%); } 
    100% { -webkit-transform:translateY(0%); } 
}
@keyframes bounce { 
    0% { transform:translateY(0%); } 
    33% { transform:translateY(-25%); } 
    66% { transform:translateY(25%); } 
    100% { transform:translateY(0%); } 
}

#loadingIndicator {
    display:none;
}

.loading #loadingIndicator {
    display: block;
}

#loadingIndicator i {
    display: inline-block;
    font: normal normal normal 14px/1 alphaTab;
    font-size: inherit;
    text-rendering: auto;
}
#loadingIndicator i:before {
    content: '\E1D7';
    display: inline-block;
    -webkit-animation:bounce 1s linear infinite;
    -moz-animation:bounce 1s linear infinite;
    animation:bounce 1s linear infinite;
}
#loadingIndicator i:after {
    content: '\E1D7';
    display: inline-block;
    -webkit-animation:bounce 1s linear infinite;
    -moz-animation:bounce 1s linear infinite;
    animation:bounce 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.description {
    margin: 10px 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.exampleSource {
    margin-bottom: 10px;    
}
.wip {
    color: #999;
    font-size:12px;
}