.barCursor {
    opacity: 0.25;
    background:#FFF200;
}

.beatCursor {
    opacity: 0.75;
    background:#4040FF;
}

#controls {
    position:fixed;
    bottom:0;
    height:35px;
    left:0;
    right:0;
    background:#2E2E2E;
    padding:10px;
    z-index:2000;
    text-align:center;
}

#loadingInfo {
    position:absolute;
    left:10px;
    top:10px;
    color:#FFF;
    font-weight:bold;
}

#sfInfo {
    position:absolute;
    right:10px;
    top:10px;
    color:#FFF;
    font-weight:bold;
}

button[disabled] {
    color:#929292;
}

.play::before {
    content: '\25B6';  
    display: inline-block;
    margin-right: 5px;
}

.pause::before {
    content: 'll';  
    display: inline-block;
    margin-right: 5px;
    font-weight:bold;
}
#stop::before {
    content: '\25A0';  
    display: inline-block;
    margin-right: 5px;
}