Title: RenderFinished
JsName: addRenderFinished();removeRenderFinished()
DomName: alphaTab.rendered
Category: Events - Core
Description: This event is fired when the rendering of the whole music sheet is finished.
ShowInSideBar: false
Since: 0.9.4
---

<h2>Description</h2>
<p>
    This event is fired when the rendering of the whole music sheet is finished from the render engine side. There might be still tasks open for
    the display component to visually display the rendered components when this event is notified. 
</p>

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-net">Action <span>.net</span></code></td>
        </tr>
        <tr>            
            <td><code class="code-badge code-badge-js">function() <span>JavaScript</span></code></td>
        </tr>   
    </tbody>
</table>

<h2>Parameters</h2>
None

<h2>Example - C#</h2>

<pre>
<code class="language-csharp line-numbers">
var api = new AlphaTabApi<MyControl>(...);
api.RenderFinished += () => 
{
    UpdateProgressBar("Finishing");
};
</code>
</pre>

<h2>Example - JavaScript</h2>

<pre>
<code class="language-javascript line-numbers">
var api = new alphaTab.platform.javaScript.AlphaTabApi(document.querySelector('#alphaTab'));
api.addRenderFinished(function() {
    updateProgressBar("Finishing");
});  
</code>
</pre>

<h2>Example - jQuery</h2>

<pre>
<code class="language-javascript line-numbers">
$('#alphaTab').on('alphaTab.rendered', function() {
    updateProgressBar("Finishing");
});
</code>
</pre>

<h2>Example - HTML</h2>

<pre>
<code class="language-javaScript line-numbers">
document.querySelector('#alphaTab').addEventListener('alphaTab.rendered', function(e) {
    updateProgressBar("Finishing");
}, false);
</code>
</pre>