Title: RenderFinished
JsName: add_RenderFinished();remove_RenderFinished()
DomName: alphaTab.rendered
Description: This event is fired when the rendering of the whole music sheet is finished.
ShowInSideBar: false
---

<h2>Description</h2>
<p>
    This event is fired when the rendering of the whole music sheet is finished from the render engine side. There might be still tasks open for
    the display component to visually display the rendered components when this event is notified. 
</p>

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>Action <span class="code-badge">.net</span></code></td>
        </tr>
        <tr>            
            <td><code>function() <span class="code-badge">JavaScript</span></code></td>
        </tr>   
    </tbody>
</table>

<h2>Parameters</h2>
None

<h2>Example - C#</h2>

<pre>
<code class="language-csharp line-numbers">
var api = new AlphaTabApi<MyControl>(...);
api.RenderFinished += () => 
{
    UpdateProgressBar("Finishing");
};
</code>
</pre>

<h2>Example - JavaScript</h2>

<pre>
<code class="language-javascript line-numbers">
var api = new alphaTab.platform.javaScript.AlphaTabApi(document.querySelector('#alphaTab'));
api.add_RenderFinished(function() {
    updateProgressBar("Finishing");
});  
</code>
</pre>

<h2>Example - HTML</h2>

<pre>
<code class="language-javaScript line-numbers">
document.querySelector('#alphaTab').addEventListener('alphaTab.rendered', function(e) {
    updateProgressBar("Finishing");
}, false);
</code>
</pre>