body, html {
	margin:0;
	padding:0;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	background:#EFEFEF;
}


a:link, a:visited {
	color:#335c82;
	text-decoration:none;
}

a:hover, a:active {
	text-decoration:underline;
}

h1 {
	color:#575757;
	font-size:24px;
	font-weight:normal;
	margin:0;
	text-shadow:1px 1px 0 #FFFFFF;
}

h2 {
	color:#204A87;
	font-size:18px;
	font-weight:normal;
	margin:0;
}

#Content {
	padding:5px 5px;
}

#TopNavWrapper {
	border-bottom:3px solid #2d4364;
	background:#081214;
	height:103px;
}

/* Center Block */
#TopNav, #Slider, #SliderDesc, #Content, #Footer {
	margin:0 auto;
	width:1010px;
}

#TopNav {
	height:103px;
	background:url('images/top_menu_bg.gif') repeat-y;
}

#AlphaTabLogo {
	width:231px;
	height:81px;
	display:block;
	background:url('images/alphatab_logo.gif') no-repeat;
	float:left;
	margin-top:10px;
}

#TopNav ul {
	padding:0;
	margin:0;
	list-style-type:none;
	float:right;
	margin:39px 60px 0 0;
}

#TopNav ul li {
	float:left;
	width:120px;
	height:29px;
	background:url('images/menu_item.gif') no-repeat;
	margin-left:8px;
}

#TopNav ul li.active  {
	background:url('images/menu_item_active.gif') no-repeat;
}

#TopNav ul li a {
	display:block;			
	width:118px;
	height:21px;	
	text-align:center;
	margin-top: 6px;
	color:#FFF;
	font-size:13px;
}

#TopNav ul li a:hover { 
	text-decoration:none;
}

fieldset {
	 -moz-border-radius: 5px; 
	 -webkit-border-radius: 5px; 
	 border: 1px solid #666;
	 width:780px;
}

.playerControls {
	position:fixed;
	bottom:0;
	z-index:10;
	-moz-border-radius:5px 5px;
	-webkit-border-radius:5px 5px;
	border:1px solid #000;
	padding:5px 5px;
	margin-left:400px;
}

.measureCaret {
	opacity: 0.25;       /* modern browser */  
	-moz-opacity: 0.25;  /* older Mozilla browser */  
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)"; /* IE8 in Standard Compliant Mode */  
	filter:alpha(opacity=25); /* IE5.x -7.0 */  
	width:0;
	height:0;
	background:rgb(255,242, 0);
	postition:absolute;
} 

.beatCaret {
	opacity: 0.75;       /* modern browser */  
	-moz-opacity: 0.75;  /* older Mozilla browser */  
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /* IE8 in Standard Compliant Mode */  
	filter:alpha(opacity=75); /* IE5.x -7.0 */  
	width:0;
	height:0;
	background:rgb(64,64,255);
	postition:absolute;
} 

.alphaTabSurface {
	border:7px solid rgb(210,214,215);
	background:#F5F5F5;
	/* Shadow */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	/* Radius */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin:7px 7px;
}

.codeEditor, code {
	border:4px solid rgb(190,215,190);
	background:#F5F5F5;
	/* Shadow */
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	/* Radius */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width:500px;
	height:auto!;
	margin:7px 7px;
}

code {
	display:block;
	height:auto;
	white-space:pre;	
	border:2px solid rgb(190,215,190);
}

.hint {
	border:4px solid rgb(190,215,190);
	padding:4px 4px;
}