Copyright &copy; @DateTime.Now.Year, Daniel Kuschny and Contributors, Branch: <a href="https://github.com/CoderLine/AlphaTab/tree/@Context.String("GitBranch", "Unknown")">@Context.String("GitBranch", "Unknown")</a>, 
Revision: <a href="https://github.com/CoderLine/AlphaTab/tree/@Context.String("GitRevision", "Unknown")">@Context.String("GitRevision", "Unknown")</a>