<div class="description">
    The horizontal layout be enabled via <code>layout: 'horizontal'</code> or <code>data-layout="horizontal"</code>. 
    The whole music notation is arranged as a single line. This layout is useful for small screen sizes. 
</div>


<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#scriptInit" role="tab" data-toggle="tab">Script Initialization</a></li>
    <li><a href="#dataInit" role="tab" data-toggle="tab">Data Attribute Initialization</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active example" id="scriptInit">
        <div class="html">
            <div id="alphaTabScriptInit"></div>
        </div>
        <div class="js">
            <script>
                $('#alphaTabScriptInit').alphaTab({
                  file: 'files/Canon.gp5',
                  layout: 'horizontal'
                })
            </script>
        </div>
    </div>
    <div class="tab-pane example" id="dataInit">
        <div class="html">
            <div id="alphaTabDataInit" data-file="files/Canon.gp5" data-layout="horizontal"></div>
        </div>
        <div class="js">
            <script>
                $('#alphaTabDataInit').alphaTab()
            </script>
        </div>
    </div>
  </div>
</div>