.top-banner {
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}

.main-header {
    background-image: linear-gradient(to bottom,#fff 0,#fbfbfb  100%);
    background-repeat: repeat-x;
}

.content, .content-header {
    padding-left: 12px;
    padding-right: 12px;
}

.main-header .logo, .main-header .navbar {
    background: none !important;
}

.main-header .navbar .nav > li > a {
	color: #777;
}

.main-header .logo img {
    height:100%; 
    width:auto;
}

.main-header .logo .logo-lg,
.main-header .logo .logo-mini {
    height: 30px;
}

.type-table code,
.reference-table code {
    font-size:80%;
    border: 1px solid #dedede;
    white-space: nowrap;
}

.type-table code .code-badge,
.reference-table code .code-badge {
    border-left: 1px solid #DEDEDE;
    padding-left: 5px;
    opacity: 0.5;
}

.main-header .navbar .sidebar-toggle {
    color: #777;
}
.main-header .navbar .navbar-toggle {
    display: none;
}


.content-header {
    background-color: #f4f4f4;
    padding: 8px 16px;
    border-radius: 6px;
    border-bottom: 2px solid #ddd;
    margin-left: 12px;
    margin-right: 12px;
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;    
    
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;    
}

.content-header h1 {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    
    background-color: initial;
    padding: initial;
    border-radius: initial;
    border-bottom: initial;
}