Title: LoadSoundFont()
JsName: loadSoundFont()
Category: Methods - Core
Description: Triggers a load of the soundfont from the given data.
ShowInSideBar: false
---


<h2>Description</h2>
<p>
    This function initiates a load of the soundfont using the given data. The supported data types is depending on the platform. AlphaTab only supports SoundFont2 encoded soundfonts for loading.
</p>

<h2>Signatures</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>bool LoadSoundFont(byte[] raw) <span class="code-badge">.net</span></code> - Load the soundfont from the given raw bytes.</td>
        </tr>   
        <tr>
            <td><code>bool LoadSoundFont(Stream[] raw) <span class="code-badge">.net</span></code> - Load the soundfont from the given stream.</td>
        </tr>   
        <tr>
            <td><code>function loadSoundFont(arraybuffer) <span class="code-badge">.JavaScript</span></code> - Load the soundfont from the given raw bytes.</td>
        </tr>   
        <tr>
            <td><code>function loadSoundFont(uint8array) <span class="code-badge">.JavaScript</span></code> - Load the soundfont from the given raw bytes</td>
        </tr>   
        <tr>
            <td><code>function loadSoundFont(url) <span class="code-badge">.JavaScript</span></code> - Load the soundfont from the given URL via AJAX</td>
        </tr>           
    </tbody>
</table>

<h3>Parameters</h3>
<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Parameters</th>
            <th>Type</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>    
        <tr>
            <td><code>raw <span class="code-badge">.net</span></td>
            <td><code>byte[]</code></td>
            <td>The raw bytes containing a SoundFont2 file.</td>
        </tr>   
        <tr>
            <td><code>raw <span class="code-badge">.net</span></td>
            <td><code>System.IO.Stream</code></td>
            <td>The stream containing a SoundFont2 file.</td>
        </tr>   
        <tr>
            <td><code>arraybuffer <span class="code-badge">.JavaScript</span></td>
            <td><code>ArrayBuffer</code></td>
            <td>The arraybuffer containing the raw bytes of a SoundFont2 file.</td>
        </tr>   
        <tr>
            <td><code>uint8array <span class="code-badge">.JavaScript</span></td>
            <td><code>Uint8Array</code></td>
            <td>The Uint8Array containing the raw bytes of a SoundFont2 file.</td>
        </tr>   
        <tr>
            <td><code>url <span class="code-badge">.JavaScript</span></td>
            <td><code>string</code></td>
            <td>A URL pointing to a SoundFont2 file that should be loaded via AJAX.</td>
        </tr>   
    </tbody>
</table>


<h3>Returns</h3>
<code>true</code> if the passed in object is a supported format and loading was initiated, otherwise <code>false</code>.

<h2>Example - C#</h2>

<pre>
<code class="language-csharp line-numbers">
var api = new AlphaTabApi<MyControl>(...);
api.LoadSoundFont(System.IO.File.OpenRead("MyFile.gp"));
</code>
</pre>


<h2>Example - JavaScript</h2>

<pre>
<code class="language-javascript line-numbers">
var api = new alphaTab.platform.javaScript.AlphaTabApi(document.querySelector('#alphaTab'));
api.loadSoundFont('/assets/MyFile.gp');
</code>
</pre>