Title: Pause()
JsName: pause()
Category: Methods - Player
Description: Pauses the playback of the current song.
ShowInSideBar: false
---

<h2>Description</h2>
<p>
     Pauses the playback of the current song.
</p>

<h2>Signatures</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>void Pause()<span class="code-badge">.net</span></code></td>
        </tr>   
        <tr>
            <td><code>function pause() <span class="code-badge">.JavaScript</span></code></td>
        </tr>   
    </tbody>
</table>

<h3>Parameters</h3>
None

<h3>Returns</h3>
Nothing

<h2>Example - C#</h2>

<pre>
<code class="language-csharp line-numbers">
var api = new AlphaTabApi<MyControl>(...);
api.Pause();
</code>
</pre>


<h2>Example - JavaScript</h2>

<pre>
<code class="language-javascript line-numbers">
var api = new alphaTab.platform.javaScript.AlphaTabApi(document.querySelector('#alphaTab'));
api.pause();
</code>
</pre>