Title: Player
JsName: player
Category: Properties
Description: The alphaSynth player used for playback. This is the low-level API to the Midi synthesizer used for playback.
ShowInSideBar: false
---

<h2>Description</h2>
<p>
    Gets access to the underling <code>AlphaTab.Audio.Synth.IAlphaSynth</code> that is used for the audio playback. 
</p>

<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>AlphaTab.Audio.Synth.IAlphaSynth <span class="code-badge">all</span></code></td>
        </tr>  
    </tbody>
</table>