Title: Renderer
JsName: renderer
jQueryName: alphaTab('renderer')
Category: Properties - Core
Description: The score renderer used for rendering the music sheet. This is the low-level API responsible for the actual rendering chain. 
ShowInSideBar: false
Since: 0.9.4
---

<h2>Description</h2>
<p>
    Gets access to the underling <code>AlphaTab.Rendering.IScoreRenderer</code> that is used for the rendering. 
</p>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-all">AlphaTab.Rendering.IScoreRenderer <span>all</span></code></td>
        </tr>  
    </tbody>
</table>