Title: Score
JsName: score
Category: Properties
Description: The score holding all information about the song being rendered
ShowInSideBar: false
---

<h2>Description</h2>
<p>
    Gets access to the underling <code>AlphaTab.Model.Score</code> that is currently being displayed. 
</p>


<h2>Types</h2>
<code>AlphaTab.Model.Score[]</code>