Title: Score
JsName: score
jQueryName: alphaTab('score')
Category: Properties - Core
Description: The score holding all information about the song being rendered
ShowInSideBar: false
Since: 0.9.4
---

<h2>Description</h2>
<p>
    Gets access to the underling <code>AlphaTab.Model.Score</code> that is currently being displayed. 
</p>


<h2>Types</h2>
<code>AlphaTab.Model.Score</code>

<h2>Example - C#</h2>

<pre>
<code class="language-csharp line-numbers">
var api = new AlphaTabApi<MyControl>(...);
UpdateScoreInfo(api.Score);
</code>
</pre>


<h2>Example - JavaScript</h2>

<pre>
<code class="language-javascript line-numbers">
var api = new alphaTab.platform.javaScript.AlphaTabApi(document.querySelector('#alphaTab'));
updateScoreInfo(api.score);
</code>
</pre>


<h2>Example - jQuery</h2>

<pre>
<code class="language-javascript line-numbers">
updateScoreInfo($('#alphaTab').alphaTab('score'));
</code>
</pre>