Title: Settings
JsName: settings
Category: Properties
Description: The settings that are used for rendering the music notation
ShowInSideBar: false
---

<h2>Description</h2>
<p>
    Gets access to the underling <code>AlphaTab.Settings</code> object that is currently used by AlphaTab. 
</p>


<h2>Types</h2>

<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code>AlphaTab.Settings <span class="code-badge">all</span></code></td>
        </tr>  
    </tbody>
</table>