Title: Tracks
JsName: tracks
jQueryName: alphaTab('tracks')
Category: Properties - Core
Description: A list of the tracks that should be rendered based on the Score and TrackIndexes properties
ShowInSideBar: false
Since: 0.9.4
---


<h2>Description</h2>
<p>
    Gets a list of the tracks that are currently being rendered. 
</p>

<h2>Types</h2>
<code>AlphaTab.Model.Track[]</code>


<h2>Example - C#</h2>

<pre>
<code class="language-csharp line-numbers">
var api = new AlphaTabApi<MyControl>(...);
FillTrackSelector(api.Tracks);
</code>
</pre>


<h2>Example - JavaScript</h2>

<pre>
<code class="language-javascript line-numbers">
var api = new alphaTab.platform.javaScript.AlphaTabApi(document.querySelector('#alphaTab'));
fillTrackSelector(api.tracks);
</code>
</pre>


<h2>Example - jQuery</h2>

<pre>
<code class="language-javascript line-numbers">
fillTrackSelector($('#alphaTab').alphaTab('tracks'));
</code>
</pre>