Title: Tracks
JsName: get_Tracks
Category: Properties
Description: A list of the tracks that should be rendered based on the Score and TrackIndexes properties
ShowInSideBar: false
---


<h2>Description</h2>
<p>
    Gets a list of the tracks that are currently being rendered. 
</p>

<h2>Types</h2>
<code>AlphaTab.Model.Track[]</code>