Title: Beat Effects
Order: 3
TexSample: true
---

<p>
	There are various effects that can be applied to a beat. All beat
	effects are specified in braces after the beat. 
	<code>Beat{Effects}</code>
</p>    

<h2>Simple Effects</h2>

<p>
	Please find the list of support effects in the example below. 
</p>

<div id="alphaTabBeatEffects" data-tex="true">
// fade in
3.3{f}
// vibrato
3.3{v}
// slap
3.3{s}
// pop
3.3{p} 
|
// dotted 
3.3{d}
// double dotted
3.3{dd}
// pick stroke (su => up, sd => down)
3.3{su}
3.3{sd}
|
// grace (on beat)
3.3{gr ob}
3.3
// grace (before beat)
3.3{gr}
3.3
|
// Tuplets (supported variants: 3,5,6,7,9,10,11,12)
3.3{tu 3} 3.3{tu 3} 3.3{tu 3}
3.3{tu 5} 3.3{tu 5} 3.3{tu 5} 3.3{tu 5} 3.3{tu 5}
|
// tremolo picking (`tp duration` where duration can be 8,16 or 32)
3.3{tp 8} 3.3{tp 16} 3.3{tp 32}
</div>
<script type="text/x-alphatab">
	$('#alphaTabBeatEffects').alphaTab();
</script>

<h2>Tremolo / Whammy Bar</h2>

<p>
	The tremolo/whammy bar effect is a bit more complex than the others. 
	You can specify a number of values which are evenly distributed over the
	time when the note is played. The values indicate the number of quarter notes
	increased or decreased on playing. <code>tb (value1 value2 ...)</code>
</p>

<div id="alphaTabBeatWhammy" data-tex="true">
3.3.1{tb (0 4 0 8)} |
3.3.1{tb (0 -4 0 -8)} |
</div>
<script type="text/x-alphatab">
	$('#alphaTabBeatWhammy').alphaTab();
</script>
