Title: Beat Effects
Order: 4
TexSample: true
---

<p>
	There are various effects that can be applied to a beat. All beat
	effects are specified in braces after the beat. 
	<code>Beat{Effects}</code> Multiple effects are simple separated by spaces like <code>3.3 {f v}</code>
</p>    

<h2 id="simple-effects">Simple Effects</h2>

<p>
	Please find the list of support effects in the example below. 
</p>

<div id="alphaTabBeatEffects" data-tex="true">
// fade in
3.3{f}
// vibrato
3.3{v}
// tap
3.3{tt}
// slap
3.3{s}
// pop
3.3{p} 
|
// dotted 
3.3{d}
// double dotted
3.3{dd}
// pick stroke (su => up, sd => down)
3.3{su}
3.3{sd}
|
// grace (on beat)
3.3{gr ob}
3.3
// grace (before beat)
3.3{gr}
3.3
|
// Tuplets (supported variants: 3,5,6,7,9,10,11,12)
3.3{tu 3} 3.3{tu 3} 3.3{tu 3}
3.3{tu 5} 3.3{tu 5} 3.3{tu 5} 3.3{tu 5} 3.3{tu 5}
|
// tremolo picking (`tp duration` where duration can be 8,16 or 32)
3.3{tp 8} 3.3{tp 16} 3.3{tp 32}
|
// Crescendo / Decrescendo
3.3{cre} 3.3{cre} 3.3{dec} 3.3{dec}
</div>
<script type="text/x-alphatab">
	$('#alphaTabBeatEffects').alphaTab();
</script>

<h2 id="dynamics">Dynamics</h2>

<p>
	Dynamics are beat effects with the indicator <code>dy</code> followed by one of the supported dynamics values FFF, FF, F, MF, MP, P, PP or PPP
</p>

<div id="alphaTabBeatDynamics" data-tex="true">
1.1.8{dy ppp} 1.1{dy pp} 1.1{dy p} 1.1{dy mp} 1.1{dy mf} 1.1{dy f} 1.1{dy ff} 1.1{dy fff}
</div>
<script type="text/x-alphatab">
	$('#alphaTabBeatDynamics').alphaTab();
</script>

<h2 id="tuplet-ranges">Tuplet Ranges</h2>

<p>
	You can also specify the the tuplet as part of a ranged duration. This makes writing tuplets a bit easier if there are many.
    To reset the tuplet simply a new duration range can be started. For individual notes other tuplets can be specified too.
    1 can be used to specify no tuplet while a tuplet range is active. 
</p>
<div id="alphaTabTupletRange" data-tex="true">
:4{tu 3} 3.3 3.3 3.3 :8 3.3 3.3 3.3 3.3 | :8{tu 3} 3.3 3.3 3.3 3.3.16 3.3.16 3.3.16 3.3.2{tu 1} 3.3.16{tu 1} 3.3.4 3.3.4 3.3.4
</div>
<script type="text/x-alphatab">
	$('#alphaTabTupletRange').alphaTab();
</script>

<h2 id="tremolo-whammy-bar">Tremolo / Whammy Bar</h2>

<p>
	The tremolo/whammy bar effect is a bit more complex than the others. 
	You can specify a number of values which are evenly distributed over the
	time when the note is played. The values indicate the number of quarter notes
	increased or decreased on playing. <code>tb (value1 value2 ...)</code>
</p>

<div id="alphaTabBeatWhammy" data-tex="true">
3.3.1{tb (0 4 0 8)} |
3.3.1{tb (0 -4 0 -8)} |
</div>
<script type="text/x-alphatab">
	$('#alphaTabBeatWhammy').alphaTab();
</script>

<h2 id="chords">Chords</h2>

<p>
	If you want to specify chords on top of your beats this can be done via the <code>ch "ChordName"</code> effect. This will annotate on the beat the chord name.  
</p>

<div id="alphaTabChordSimple" data-tex="true">
(1.1 3.2 5.3 3.4 1.5){ch "A#add9"} (1.1 3.2 5.3 3.4 1.5) (1.1 3.2 5.3 3.4 1.5) (1.1 3.2 5.3 3.4 1.5) |
(4.1 6.2 6.3 6.4 4.5){ch "C#"} (4.1 6.2 6.3 6.4 4.5) (4.1 6.2 6.3 6.4 4.5) (4.1 6.2 6.3 6.4 4.5) |
(6.1 8.2 8.3 8.4 6.5){ch "D"} (6.1 8.2 8.3 8.4 6.5) (6.1 8.2 8.3 8.4 6.5) (6.1 8.2 8.3 8.4 6.5) |
(0.1 0.2 1.3 2.4 2.5 0.6){ch "E"} (0.1 0.2 1.3 2.4 2.5 0.6) (0.1 0.2 1.3 2.4 2.5 0.6) (0.1 0.2 1.3 2.4 2.5 0.6)
</div>
<script type="text/x-alphatab">
	$('#alphaTabChordSimple').alphaTab();
</script>

<h3 id="chord-diagrams">Chord Diagrams</h3>

<p>
    You can also define chord diagrams for each chord. For this a global metadata <code>chord</code> can define the details for each chord. The format of this metadata is <code>\chord &lt;ChordName&gt; &lt;String1&gt; &lt;String2&gt;...</code>. For all strings a value must be defined, <code>x</code> annotates that the string is not played.   
    Additionally there are 4 properties which adjust the chord details: 
    <ul> 
        <li><code>FirstFret Number</code> - shifts the first fret shown in the diagram higher</li>
        <li><code>Baree Fret1 Fret2..</code> - defines on which frets a barré should be played (joins the dots to a bar)</li>
        <li><code>ShowDiagram True/False</code> - enables/disables whether the chord diagram should be shown.</li>
        <li><code>ShowName True/False</code> - enables/disables whether the chord name is shown above the diagram.</li>
    </ul>
</p>

<div id="alphaTabChordDiagrams" data-tex="true">
// Simple Chord
\chord "C" 0 1 0 2 3 x
// With barré
\chord{barre 1} "A#add9" 1 3 4 2 1 x
// First Fret higher
\chord{firstfret 6 barre 6} "D#" 6 8 8 8 6 x
// Hide diagram
\chord{showdiagram false} "E" 0 0 1 2 2 0
// Hide name and multiple barre
\chord{showname false barre 1 3} "Special" 3 3 3 1 1 1
.
\ts 2 4

(0.1 1.2 0.3 2.4 3.5){ch "C"} (0.1 1.2 0.3 2.4 3.5) |
(1.1 3.2 5.3 3.4 1.5){ch "A#add9"} (1.1 3.2 5.3 3.4 1.5)|
(6.1 8.2 8.3 8.4 6.5){ch "D#"} (6.1 8.2 8.3 8.4 6.5) |
(0.1 0.2 1.3 2.4 2.5 0.6){ch "E"} (0.1 0.2 1.3 2.4 2.5 0.6) |
(3.1 3.2 3.3 1.4 1.5 1.6){ch "Special"} (3.1 3.2 3.3 1.4 1.5 1.6)
</div>
<script type="text/x-alphatab">
	$('#alphaTabChordDiagrams').alphaTab();
</script>