Title: Metadata
Order: 0
TexSample: true
---

<p>
	Metadata is specified using <code>\tagname value value</code> at the beginning of the score. 
	It can be used to specify global information like title, tempo or track tuning.
	Metadata is optional, but if specified, it must be followed by a dot do indicate the end
	of the metadata. 
    
    <br />
    Some of the metadata tags can also be specified when starting a new staff or track. Please refer to the <a href="@Context.GetLink("/alphatex/tracks-staves")">Tracks and Staves</a> for details on how to start new tracks and staves. 
</p>        

<div id="alphaTabMeta" data-tex="true">
// Song information (only at the beginning)
    \title "Song Title"
    \subtitle Subtitle
    \artist Artist
    \album 'My Album' 
    \words Daniel
    \music alphaTab
    \copyright Daniel
    // Tempo in BPM
    \tempo 200

// Track and Staff Settings (can be used after \track and \staff) 

    // Instrument as General Midi number or name
    \instrument 30 
    // Capo fret
    \capo 2
    // String tuning starting at the most bottom string
    \tuning e5 b4 g4 d4 a3 e3 
    
// end of metadata
.        
</div>
<script type="text/x-alphatab">
	$('#alphaTabMeta').alphaTab();
</script>
