Title: Breaking changes on Settings between 0.9.5 and 0.9.6
Description: Describes all the breaking changes from 0.9.5 and 0.9.6 due to the settings reorganization.
ShowInSideBar: true
Since: 0.9.6
---

<p>
    In 0.9.6 there was a bigger settings rework introduced that very likely broke every setup beside the default one. 
    Please find all changes that were introduced below. 
</p>

<h2>API changes</h2>

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Before</th>
            <th>After</th>
            <th>Description</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td>
                <code class="code-badge code-badge-net">AlphaTab.Settings.Defaults <span>.net</span></code><br />
                <code class="code-badge code-badge-js">alphaTab.Settings.get_defaults() <span>JavaScript</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">new AlphaTab.Settings() <span>.net</span></code><br />
                <code class="code-badge code-badge-js">new alphaTab.Settings() <span>JavaScript</span></code><br />
            </td>
            <td>
                The default values for all settings were moved to the constructor. Simply
                create a new object and all default settings will be configured. 
            </td>
        </tr>
        <tr>
            <td>
                <code class="code-badge code-badge-js">AlphaTabApi.updateLayout(settings,json,dataAttributes) <span>JavaScript</span></code><br />
            </td>
            <td>
                
            </td>
            <td>
                This API was removed. Simply change the settings and call <code>updateSettings</code> and <code>render</code> to achive the same behavior. 
            </td>
        </tr>        
    </tbody>
</table>

<h2>Settings changes</h2>

<p>
    Many settings have now a new place within the settings object, hence many settings might need adjustment in your code. The new 
    mechanism of specifying settings is way more tolerant than the old one: settings are now case insensitive (<code>useWorkers</code> is equal to <code>uSeWoRkerS</code>) and dashes on html attributes are also
    ignored (<code>data-use-workers</code> is equal to <code>data-useworkers</code>). 
</p>
<ul>
    <li><code>.net</code> is how the property is named on .net object level</li>
    <li><code>JavaScript</code> is how the property is named on the JavaScript object level (alphaTab.Settings instance)</li>
    <li><code>JSON</code> is how the property is named when specifying the property as input to alphaTab (usually short hand names)</li>
    <li><code>HTML</code> is how the property is named on HTML data attributes</li>
</ul>


<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Before</th>
            <th>After</th>
            <th>Notes</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td>
                <code class="code-badge code-badge-net">UseWorkers <span>.net</span></code><br />
                <code class="code-badge code-badge-js">useWorker <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">useWorker <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-use-worker <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Core.UseWorkers <span>.net</span></code><br />
                <code class="code-badge code-badge-js">core.useWorkers <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">core.useWorkers <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">useWorkers <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-core-use-workers <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-use-workers <span>HTML</span></code><br />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <code class="code-badge code-badge-net">LogLevel <span>.net</span></code><br />
                <code class="code-badge code-badge-js">logLevel <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">logging <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-logging <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Core.LogLevel <span>.net</span></code><br />
                <code class="code-badge code-badge-js">core.logLevel <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">core.logLevel <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">logLevel <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-core-loglevel <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-loglevel <span>HTML</span></code><br />
            </td>
            <td></td>
        </tr>        
        <tr>
            <td>
                <code class="code-badge code-badge-net">DisplayMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">displayMode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">displayMode <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-mode <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.NotationMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.notationMode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.notationMode <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-notationmode <span>HTML</span></code><br />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <code class="code-badge code-badge-net">Scale <span>.net</span></code><br />
                <code class="code-badge code-badge-js">scale <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">scale <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-scale <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Scale <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.scale <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.scale <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">scale <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-scale <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-scale <span>HTML</span></code><br />            
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <code class="code-badge code-badge-net">SlurHeight <span>.net</span></code><br />
                <code class="code-badge code-badge-js">slurHeight <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">slurHeight <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-slur-height <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.SlurHeight <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.slurHeight <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.slurHeight <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-slur-height <span>HTML</span></code><br />            
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <code class="code-badge code-badge-net">Engine <span>.net</span></code><br />
                <code class="code-badge code-badge-js">engine <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">engine <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-engine <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Core.Engine <span>.net</span></code><br />
                <code class="code-badge code-badge-js">core.engine <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">core.engine <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">engine <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-core-engine <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-engine <span>HTML</span></code><br />            
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <code class="code-badge code-badge-net">StretchForce <span>.net</span></code><br />
                <code class="code-badge code-badge-js">stretchForce <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">stretchForce <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-stretch-force <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.StretchForce <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.stretchForce <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.stretchForce <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">stretchForce <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-stretchforce <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-stretchforce <span>HTML</span></code><br />
            </td>
            <td></td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ForcePianoFingering <span>.net</span></code><br />
                <code class="code-badge code-badge-js">forcePianoFingering <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">forcePianoFingering <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-force-piano-fingering <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.FingeringMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">forcePianoFingering <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">forcePianoFingering <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-force-piano-fingering <span>HTML</span></code><br />            
            </td>
            <td>
                Set it to <code>ScoreForcePiano</code> or <code>SingleNoteEffectBandForcePiano</code> to get the 
                forced piano fingering depending on the preferred display of fingering. 
            </td>
        </tr>
                
        <tr>
            <td>
                <code class="code-badge code-badge-net">EnableLazyLoading <span>.net</span></code><br />
                <code class="code-badge code-badge-js">enableLazyLoading <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">lazy <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-lazy <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Core.EnableLazyLoading <span>.net</span></code><br />
                <code class="code-badge code-badge-js">Core.enableLazyLoading <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">core.enableLazyLoading <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">enableLazyLoading <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-core-enablelazyloading <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-enablelazyloading <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">TranspositionPitches <span>.net</span></code><br />
                <code class="code-badge code-badge-js">transpositionPitches <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">transpositionPitches <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-transposition-pitches <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.TranspositionPitches <span>.net</span></code><br />
                <code class="code-badge code-badge-js">Notation.transpositionPitches <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">Notation.transpositionPitches <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-transpositionpitches <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">DisplayTranspositionPitches  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">displayTranspositionPitches <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">displayTranspositionPitches <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-transposition-pitches  <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.DisplayTranspositionPitches  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.displayTranspositionPitches <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.displayTranspositionPitches <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-displaytranspositionpitches  <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ScriptFile  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">scriptFile <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">scriptFile <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-script-file <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Core.ScriptFile <span>.net</span></code><br />
                <code class="code-badge code-badge-js">core.scriptFile <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">core.scriptFile <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">scriptFile <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-core-script-file<span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-script-file <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">FontDirectory  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">fontDirectory <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">fontDirectory <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-font-directory <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Core.FontDirectory  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">core.fontDirectory <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">core.fontDirectory <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">fontDirectory <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-core-font-directory <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-font-directory <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">SmallGraceTabNotes  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">smallGraceTabNotes <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">smallGraceTabNotes <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-small-grace-tab-notes <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.SmallGraceTabNotes  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.smallGraceTabNotes <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.smallGraceTabNotes <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-smallgracetabnotes <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">FingeringMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">fingeringMode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">fingeringMode <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-fingering-mode <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.FingeringMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.fingeringMode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.fingeringMode <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-fingering-mode <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ExtendBendArrowsOnTiedNotes <span>.net</span></code><br />
                <code class="code-badge code-badge-js">extendBendArrowsOnTiedNotes <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">extendBendArrowsOnTiedNotes <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-extend-bend-arrows-on-tied-notes <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.ExtendBendArrowsOnTiedNotes <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.extendBendArrowsOnTiedNotes <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.extendBendArrowsOnTiedNotes <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-extendbendarrowsontiednotes <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ShowParenthesisForTiedBends <span>.net</span></code><br />
                <code class="code-badge code-badge-js">showParenthesisForTiedBends <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">showParenthesisForTiedBends <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-show-parenthesis-for-tied-bends <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.ShowParenthesisForTiedBends <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.showParenthesisForTiedBends <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.showParenthesisForTiedBends <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-showparenthesisfortiedbends <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ShowTabNoteOnTiedBend <span>.net</span></code><br />
                <code class="code-badge code-badge-js">showTabNoteOnTiedBend <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">showTabNoteOnTiedBend <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-show-tab-note-on-tied-bend <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.ShowTabNoteOnTiedBend <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.showTabNoteOnTiedBend <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.showTabNoteOnTiedBend <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-showtabnoteontiedbend <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ShowZeroOnDiveWhammy  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">showZeroOnDiveWhammy  <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">showZeroOnDiveWhammy  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-show-zero-on-dive-whammy  <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.ShowZeroOnDiveWhammy  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.showZeroOnDiveWhammy  <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.showZeroOnDiveWhammy  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-showzeroondivewhammy  <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ExtendLineEffectsToBeatEnd   <span>.net</span></code><br />
                <code class="code-badge code-badge-js">extendLineEffectsToBeatEnd   <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">extendLineEffectsToBeatEnd   <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-extend-line-effects-to-beat-end   <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.ExtendLineEffectsToBeatEnd   <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.extendLineEffectsToBeatEnd   <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.extendLineEffectsToBeatEnd   <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-extendlineeffectstobeatend   <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">SongBookBendDuration   <span>.net</span></code><br />
                <code class="code-badge code-badge-js">songBookBendDuration   <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">songBookBendDuration   <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-song-book-bend-duration <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.SongBookBendDuration   <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.songBookBendDuration   <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.songBookBendDuration   <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-songbookbendduration <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">SongBookDipDuration   <span>.net</span></code><br />
                <code class="code-badge code-badge-js">songBookDipDuration   <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">songBookDipDuration   <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-song-book-dip-duration <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.SongBookDipDuration   <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.songBookDipDuration   <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.songBookDipDuration   <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-songbookdipduration <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Layout.Mode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">layout.mode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">layout.mode <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">layout <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-layout <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.LayoutMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.layoutMode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.layoutMode <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">layoutMode <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-layout-mode <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-layout-mode <span>HTML</span></code><br />            
            </td>
            <td>
                The display mode is now a strong typed enumeration. 
            </td>    
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Layout.AdditionalSettings["barsPerRow"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">layout.additionalSettings.barsPerRow <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">layout.additionalSettings.barsPerRow <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-layout-bars-per-row <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.BarsPerRow <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.barsPerRow <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.barsPerRow <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">barsPerRow <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-barsperrow <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-barsperrow <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Layout.AdditionalSettings["start"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">layout.additionalSettings.start <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">layout.additionalSettings.start <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-layout-start <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.StartBar <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.startBar <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.startBar <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">startBar <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-startbar <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-startbar <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Layout.AdditionalSettings["count"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">layout.additionalSettings.count <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">layout.additionalSettings.count <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-layout-count <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.BarCount <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.barCount <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.barCount <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">barCount <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-barcount <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-barcount <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Layout.AdditionalSettings["hideInfo"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">layout.additionalSettings.hideInfo <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">layout.additionalSettings.hideInfo <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-layout-hide-info <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.HideInfo <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.hideInfo <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.hideInfo <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">hideInfo <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-hideinfo <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-hideinfo <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Layout.AdditionalSettings["hideTuning"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">layout.additionalSettings.hideTuning <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">layout.additionalSettings.hideTuning <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-layout-hide-tuning <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.HideTuning <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.hideTuning <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.hideTuning <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">hideTuning <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-hidetuning <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-hidetuning <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Layout.AdditionalSettings["hideChordDiagram"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">layout.additionalSettings.hideChordDiagram <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">layout.additionalSettings.hideChordDiagram <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-layout-hide-chord-diagram <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.HideChordDiagrams <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.hideChordDiagrams <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.hideChordDiagrams <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">hideChordDiagrams <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-hidechorddiagrams <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-hidechorddiagrams <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Layout.AdditionalSettings["hideTrackNames"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">layout.additionalSettings.hideTrackNames <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">layout.additionalSettings.hideTrackNames <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-layout-hide-track-names <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.HideTrackNames <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.hideTrackNames <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.hideTrackNames <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">hideTrackNames <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-hidetracknames <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-hidetracknames <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">IncludeNoteBounds <span>.net</span></code><br />
                <code class="code-badge code-badge-js">includeNoteBounds <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">includeNoteBounds <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-include-note-bounds <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Core.IncludeNoteBounds <span>.net</span></code><br />
                <code class="code-badge code-badge-js">core.includeNoteBounds <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">core.includeNoteBounds <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">includeNoteBounds<span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-core-includenotebounds <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-includenotebounds <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">PlayTripletFeel <span>.net</span></code><br />
                <code class="code-badge code-badge-js">playTripletFeel <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">playTripletFeel <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-play-triplet-feel <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">player.PlayTripletFeel <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.playTripletFeel <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.playTripletFeel <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-playtripletfeel <span>HTML</span></code><br />
            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Vibrato.NoteSlightAmplitude <span>.net</span></code><br />
                <code class="code-badge code-badge-js">vibrato.noteSlightAmplitude <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">vibrato.noteSlightAmplitude  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-vibrato-note-slight-amplitude <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.Vibrato.NoteSlightAmplitude <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.vibrato.noteSlightAmplitude <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.vibrato.noteSlightAmplitude  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-vibrato-noteslightamplitude <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Vibrato.NoteWideAmplitude <span>.net</span></code><br />
                <code class="code-badge code-badge-js">vibrato.noteWideAmplitude <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">vibrato.noteWideAmplitude  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-vibrato-note-wide-amplitude <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.Vibrato.NoteWideAmplitude <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.vibrato.noteWideAmplitude <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.vibrato.noteWideAmplitude  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-vibrato-notewideamplitude <span>HTML</span></code><br />
            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Vibrato.NoteSlightLength <span>.net</span></code><br />
                <code class="code-badge code-badge-js">vibrato.noteSlightLength <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">vibrato.noteSlightLength  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-vibrato-note-slight-length <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.Vibrato.NoteSlightLength <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.vibrato.noteSlightLength <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.vibrato.noteSlightLength  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-vibrato-noteslightlength <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Vibrato.NoteWideLength <span>.net</span></code><br />
                <code class="code-badge code-badge-js">vibrato.noteWideLength <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">vibrato.noteWideLength  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-vibrato-note-wide-length <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.Vibrato.NoteWideLength <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.vibrato.noteWideLength <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.vibrato.noteWideLength  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-vibrato-notewidelength <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Vibrato.BeatSlightAmplitude <span>.net</span></code><br />
                <code class="code-badge code-badge-js">vibrato.beatSlightAmplitude <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">vibrato.beatSlightAmplitude  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-vibrato-beat-slight-amplitude <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.Vibrato.BeatSlightAmplitude <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.vibrato.beatSlightAmplitude <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.vibrato.beatSlightAmplitude  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-vibrato-beatslightamplitude <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Vibrato.BeatWideAmplitude <span>.net</span></code><br />
                <code class="code-badge code-badge-js">vibrato.beatWideAmplitude <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">vibrato.beatWideAmplitude  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-vibrato-beat-wide-amplitude <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.Vibrato.BeatWideAmplitude <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.vibrato.beatWideAmplitude <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.vibrato.beatWideAmplitude  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-vibrato-beatwideamplitude <span>HTML</span></code><br />
            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Vibrato.BeatSlightLength <span>.net</span></code><br />
                <code class="code-badge code-badge-js">vibrato.beatSlightLength <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">vibrato.beatSlightLength  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-vibrato-beat-slight-length <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.Vibrato.BeatSlightLength <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.vibrato.beatSlightLength <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.vibrato.beatSlightLength  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-vibrato-beatslightlength <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Vibrato.BeatWideLength <span>.net</span></code><br />
                <code class="code-badge code-badge-js">vibrato.beatWideLength <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">vibrato.beatWideLength  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-vibrato-beat-wide-length <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.Vibrato.BeatWideLength <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.vibrato.beatWideLength <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.vibrato.beatWideLength  <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-vibrato-beatwidelength <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Staves.Id <span>.net</span></code><br />
                <code class="code-badge code-badge-js">staves.id <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">staves.id <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">staves <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-staves <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.StaveProfile <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.staveProfile <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.staveProfile <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">staveProfile <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-staveprofile <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-staveprofile <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Staves.AdditionalSettings["rhythm"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">staves.additionalSettings.rhythm <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">staves.additionalSettings.rhythm <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-staves-rhythm <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.RhythmMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.rhythmMode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.rhythmMode <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-rhythmmode <span>HTML</span></code><br />
            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Staves.AdditionalSettings["rhythmBeams"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">staves.additionalSettings.rhythmBeams <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">staves.additionalSettings.rhythmBeams <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-staves-rhythm-beams <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.RhythmMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.rhythmMode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.rhythmMode <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-rhythmmode <span>HTML</span></code><br />
            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Staves.AdditionalSettings["rhythmHeight"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">staves.additionalSettings.rhythmHeight <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">staves.additionalSettings.rhythmHeight <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-staves-rhythm-height <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Notation.RhythmHeight <span>.net</span></code><br />
                <code class="code-badge code-badge-js">notation.rhythmHeight <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">notation.rhythmHeight <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-notation-rhythmheight <span>HTML</span></code><br />
            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">EnablePlayer <span>.net</span></code><br />
                <code class="code-badge code-badge-js">enablePlayer <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">enablePlayer <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.EnablePlayer <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.enablePlayer <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.enablePlayer <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-enableplayer <span>HTML</span></code><br />            
            </td>
            <td>
                On JavaScript earlier the setting controlled both enabling the player and which soundfont should be loaded. 
                Now it really only controls whether the player should be enabled. The soundfont is specified via <code>SoundFont</code> or loaded manually via API.
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">SoundFontFile <span>.net</span></code><br />
                <code class="code-badge code-badge-js">soundFontFile <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">soundFontFile <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.SoundFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.soundFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.soundFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-soundfont <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">EnableCursor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">enableCursor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">cursor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-cursor <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.EnableCursor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.enableCursor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.enableCursor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-enablecursor <span>HTML</span></code><br />
            
            </td>
        </tr>        
        
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ImporterSettings["encoding"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">importer.encoding <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">importer.encoding <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-importer-encoding <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Importer.Encoding <span>.net</span></code><br />
                <code class="code-badge code-badge-js">importer.encoding <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">importer.encoding <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-importer-encoding <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">Staves.ImporterSettings["musicXMLMergePartGroups"] <span>.net</span></code><br />
                <code class="code-badge code-badge-js">staves.importer.musicXMLMergePartGroups <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">staves.importer.musicXMLMergePartGroups <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-importer-musicxml-merge-part-groups <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Importer.MergePartGroupsInMusicXml <span>.net</span></code><br />
                <code class="code-badge code-badge-js">importer.mergePartGroupsInMusicXml <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">importer.mergePartGroupsInMusicXml <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-importer-mergepartgroupsinmusicxml <span>HTML</span></code><br />            
            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.CopyrightFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.copyrightFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.copyrightFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-copyright-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.CopyrightFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.copyrightFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.copyrightFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.copyrightFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-copyrightfont <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-resources-copyrightfont <span>HTML</span></code><br />
            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.TitleFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.titleFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.titleFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-title-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.TitleFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.titleFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.titleFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.titleFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-titlefont <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-titlefont <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.SubTitleFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.subTitleFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.subTitleFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-subtitle-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.SubTitleFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.subTitleFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.subTitleFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.subTitleFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-subtitlefont <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-resources-subtitlefont <span>HTML</span></code><br />
            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.WordsFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.wordsFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.wordsFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-words-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.WordsFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.wordsFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.wordsFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.wordsFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-wordsfont <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-wordsfont <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.EffectFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.effectFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.effectFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-effect-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.EffectFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.effectFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.effectFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.effectFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-effectfont <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-effectfont <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.FretboardNumberFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.fretboardNumberFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.fretboardNumberFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-fretboard-number-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.FretboardNumberFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.fretboardNumberFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.fretboardNumberFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.fretboardNumberFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-fretboardnumberfont <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-fretboardnumberfont <span>HTML</span></code><br />            
            </td>
        </tr>        
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.TablatureFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.tablatureFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.tablatureFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-tablature-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.TablatureFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.tablatureFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.tablatureFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.tablatureFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-tablaturefont<span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-tablaturefont<span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.GraceFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.graceFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.graceFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-grace-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.GraceFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.graceFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.graceFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.graceFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-gracefont <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-resources-gracefont <span>HTML</span></code><br />
            </td>
        </tr>        
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.BarNumberFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.barNumberFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.barNumberFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-bar-number-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.BarNumberFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.barNumberFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.barNumberFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.barNumberFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-barnumberfont <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-barnumberfont <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.FingeringFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.fingeringFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.fingeringFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-fingering-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.FingeringFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.fingeringFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.fingeringFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.fingeringFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-fingeringfont <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-fingeringfont <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.MarkerFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.markerFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.markerFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-marker-font <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.MarkerFont <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.markerFont <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.markerFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.markerFont <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-markerfont <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-resources-markerfont <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.StaffLineColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.staffLineColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.staffLineColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-staff-line-color <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.StaffLineColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.staffLineColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.staffLineColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.staffLineColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-stafflinecolor <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-stafflinecolor <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.BarNumberColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.barNumberColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.barNumberColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-bar-number-color <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.BarNumberColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.barNumberColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.barNumberColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.barNumberColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-barnumbercolor <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-barnumbercolor <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.BarSeparatorColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.barSeparatorColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.barSeparatorColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-bar-separator-color <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.BarSeparatorColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.barSeparatorColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.barSeparatorColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.barSeparatorColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-barseparatorcolor <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-barseparatorcolor <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.MainGlyphColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.mainGlyphColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.mainGlyphColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-main-glyph-color <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.MainGlyphColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.mainGlyphColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.mainGlyphColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.mainGlyphColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-mainglyphcolor <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-resources-mainglyphcolor <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.SecondaryGlyphColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.secondaryGlyphColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.secondaryGlyphColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-secondary-glyph-color <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.SecondaryGlyphColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.secondaryGlyphColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.secondaryGlyphColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.secondaryGlyphColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-secondaryglyphcolor <span>HTML</span></code><br />            
                <code class="code-badge code-badge-html">data-resources-secondaryglyphcolor <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">RenderingResources.ScoreInfoColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">resources.scoreInfoColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">resources.scoreInfoColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-resources-score-info-color <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Display.Resources.ScoreInfoColor <span>.net</span></code><br />
                <code class="code-badge code-badge-js">display.resources.scoreInfoColor <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">display.resources.scoreInfoColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">resources.scoreInfoColor <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-display-resources-scoreinfocolor <span>HTML</span></code><br />
                <code class="code-badge code-badge-html">data-resources-scoreinfocolor <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ScrollOffsetX  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">scrollOffsetX  <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">playerOffset <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">playerOffset[0] <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-offset <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">player.ScrollOffsetX  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.scrollOffsetX  <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.scrollOffsetX <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-scrolloffsetx <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ScrollOffsetY  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">scrollOffsetY  <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">playerOffset <span>JSON</span></code><br />
                <code class="code-badge code-badge-json">playerOffset[1] <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-offset <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">player.ScrollOffsetY  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.scrollOffsetY  <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.scrollOffsetY <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-scrolloffsety <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ScrollMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">scrollMode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">autoScroll <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-auto-scroll <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">player.ScrollMode <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.scrollMode <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.scrollMode <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-scrollmode <span>HTML</span></code><br />            
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ScrollSpeed  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">scrollSpeed  <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">scrollSpeed <span>JSON</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">player.ScrollSpeed <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.scrollSpeed <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.scrollSpeed <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-scrollspeed <span>HTML</span></code><br />                        
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">ScrollElement <span>.net</span></code><br />
                <code class="code-badge code-badge-js">scrollElement <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">scrollElement <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-scroll-element <span>HTML</span></code><br />
            </td>
            <td>
                <code class="code-badge code-badge-net">Player.ScrollElement  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">player.scrollElement <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">player.scrollElement <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-player-scroll-element <span>HTML</span></code><br />
            </td>
        </tr>
        
        <tr>
            <td>
                <code class="code-badge code-badge-net">BeatCursorWidth  <span>.net</span></code><br />
                <code class="code-badge code-badge-js">beatCursorWidth <span>JavaScript</span></code><br />
                <code class="code-badge code-badge-json">beatCursorWidth <span>JSON</span></code><br />
                <code class="code-badge code-badge-html">data-beat-cursor-width <span>HTML</span></code><br />
            </td>
            <td>
            </td>
            <td>
                Setting was removed4 use CSS like for the other stylings to set the width of the beat cursor. 
            </td>
        </tr>
        
        
    </tbody>
</table>


<h2>Side-by-side Comparison</h2>

<p>Right below you can find a side-by-side comparison between a settings object before and after the rework. 

<table class="table table-striped table-condensed type-table">
    <thead>
        <tr>
            <th>Before</th>
            <th>After</th>
        </tr>
    </thead>    
    <tbody>    
        <tr>
            <td>
                <pre>
                <code class="language-javascript line-numbers">
{
    scriptFile: null,
    fontDirectory: null,
    enableLazyLoading: true,
    soundFontFile: null,
    scrollElement: "html,body",
    scale: 1,
    engine: "default",
    layout: {
        mode: "page",
        additionalSettings: {}
    },
    importerSettings: {},
    stretchForce: 1,
    forcePianoFingering: false,
    staves: {
        id: "default",
        additionalSettings: {}
    },
    transpositionPitches: [],
    displayTranspositionPitches: [],
    logLevel: "info"
    smallGraceTabNotes: true,
    extendBendArrowsOnTiedNotes: true,
    showParenthesisForTiedBends: true,
    showTabNoteOnTiedBend: true,
    displayMode: 0,
    fingeringMode: 0,
    showZeroOnDiveWhammy: false,
    extendLineEffectsToBeatEnd: false,
    vibrato: {
        noteWideLength: 480,
        noteWideAmplitude: 2,
        noteSlightLength: 480,
        noteSlightAmplitude: 2,
        beatWideLength: 240,
        beatWideAmplitude: 3,
        beatSlightLength: 240,
        beatSlightAmplitude: 3
    }
    playTripletFeel: true,
    slurHeight: 7,
    songBookBendDuration: 75,
    songBookDipDuration: 150,
    includeNoteBounds: false,
    useWorkers: true,
    enablePlayer: false,
    enableCursor: false,
    beatCursorWidth: 3,
    scrollOffsetX: 0,
    scrollOffsetY: 0,
    scrollMode: "continuous",
    scrollSpeed: 300,
    renderingResources: {
        copyrightFont: "bold 12px 'Arial'",
        titleFont: "32px 'Georgia'",
        subTitleFont: "20px 'Georgia'",
        wordsFont: "15px 'Georgia'",
        effectFont: "italic 12px 'Georgia'",
        fretboardNumberFont: "11px 'Arial'",
        tablatureFont: "13px 'Arial'",
        graceFont: "11px 'Arial'",
        staffLineColor: "#A5A5A5",
        barSeparatorColor:"#222211",
        barNumberFont: "11px 'Arial'",
        barNumberColor: "#C80000"},
        fingeringFont: "14px 'Georgia'",
        markerFont: "bold 14px 'Georgia'",
        mainGlyphColor: "#000000"},
        secondaryGlyphColor: "rgba(0,0,0,0.40)",
        scoreInfoColor: "#000000"
    }
}
                </code>
                </pre>
            </td>
            <td>
                <pre>
                <code class="language-javascript line-numbers">
{
    core: {
        includeNoteBounds: false,
        useWorkers: true,
        logLevel: "info",
        engine: "default",
        enableLazyLoading: true,
        scriptFile: "https://docs.alphatab.net/develop/js/alphaTab/alphaTab.min.js",
        fontDirectory: "https://docs.alphatab.net/develop/js/alphaTab/Font/"    
    },
    display: {
        barCountPerPartial: 10
        barCount: -1
        startBar: 1
        barsPerRow: -1
        staveProfile: 'default'
        layoutMode: 'page',
        stretchForce: 1
        scale: 1
        padding: null,
        resources: {
            copyrightFont: "bold 12px 'Arial'",
            titleFont: "32px 'Georgia'",
            subTitleFont: "20px 'Georgia'",
            wordsFont: "15px 'Georgia'",
            effectFont: "italic 12px 'Georgia'",
            fretboardNumberFont: "11px 'Arial'",
            tablatureFont: "13px 'Arial'",
            graceFont: "11px 'Arial'",
            staffLineColor: "#A5A5A5",
            barSeparatorColor:"#222211",
            barNumberFont: "11px 'Arial'",
            barNumberColor: "#C80000"},
            fingeringFont: "14px 'Georgia'",
            markerFont: "bold 14px 'Georgia'",
            mainGlyphColor: "#000000"},
            secondaryGlyphColor: "rgba(0,0,0,0.40)",
            scoreInfoColor: "#000000"
        }
    },
    importer: {
        mergePartGroupsInMusicXml: false,
        encoding: "utf-8"
    },
    notation: {
        slurHeight: 7,
        extendLineEffectsToBeatEnd: false,
        showZeroOnDiveWhammy: false,
        showTabNoteOnTiedBend: true,
        showParenthesisForTiedBends: true,
        extendBendArrowsOnTiedNotes: true,
        smallGraceTabNotes: true,
        displayTranspositionPitches: []
        transpositionPitches: [],
        rhythmHeight: 15,
        rhythmMode: "hidden",
        hideChordDiagrams: false,
        hideTrackNames: false,
        hideTuning: false,
        hideInfo: false,
        fingeringMode: "ScoreDefault",
        notationMode: "GuitarPro"
    }
    player: {
        playTripletFeel: true,
        vibrato: {
            beatSlightAmplitude: 3,
            beatSlightLength: 240,
            beatWideAmplitude: 3,
            beatWideLength: 240,
            noteSlightAmplitude: 2,
            noteSlightLength: 480,
            noteWideAmplitude: 2,
            noteWideLength: 480,
        }
        songBookDipDuration: 150,
        songBookBendDuration: 75,
        scrollSpeed: 300,
        scrollMode: "Continuous",
        scrollOffsetY: 0,
        scrollOffsetX: 0,
        enableCursor: true,
        enablePlayer: false,
        scrollElement: "html,body",
        soundFont: null
    }
}
                </code>
                </pre>
            </td>
        </tr>    
    </tbody>
</table>