Title: Reference
ShowInNavbar: true
---

<p>
	In this section you can find all information about the public API of alphaTab. 
    In general the <code>AlphaTab.Settings</code> class describes all the settings that exist and the <code>AlphaTab.AlphaTabApi</code> class wraps up the whole API. As alphaTab comes in different flavours and has several configuration systems interacting there are some things to follow. 
</p>

<div class="menu-container">
@foreach(IDocument child in Model.DocumentList(Keys.Children).OrderBy(x => x.Get<int>(DocsKeys.Order, 1000)))
{
	<div class="menu-block">
		<h2><a href="@Context.GetLink(child)">@(child.String(Keys.Title))</a></h2>
		@if(child.ContainsKey(DocsKeys.Description))
		{
            <p>
                @Html.Raw(child.String(DocsKeys.Description)) 
                <a href="@Context.GetLink(child)">Read more &raquo;</a>
            </p>
		}
	</div>
}
</div>