@{
    string dotNetName = Model.String("Title");
    string[] jsNames = Model.String("JsName").Split(new []{';'}, StringSplitOptions.RemoveEmptyEntries);
    string[] jsonNames = Model.String("JsonName").Split(new []{';'}, StringSplitOptions.RemoveEmptyEntries);
    string[] dataAttributeNames = Model.String("DataAttribute").Split(new []{';'}, StringSplitOptions.RemoveEmptyEntries);
}


<table class="table table-striped table-condensed type-table">
    <tbody>    
        <tr>
            <td><code class="code-badge code-badge-net">@dotNetName <span>.net</span></code></td>
        </tr> 
        @foreach(var name in jsNames)
        {
            <tr>
                <td><code class="code-badge code-badge-js">@name <span>JavaScript</span></code></td>
            </tr>        
        }
        
        @foreach(var name in jsonNames)
        {
            <tr>
                <td><code class="code-badge code-badge-json">@name <span>JSON</span></code></td>
            </tr>        
        }
        
        @foreach(var name in dataAttributeNames)
        {
            <tr>
                <td><code class="code-badge code-badge-html">@name <span>HTML</span></code></td>
            </tr>        
        }        
    </tbody>
</table>