body { text-align:center; font-family:Open Sans, Arial sans-serif; background:#F5F6F7; padding:10px; }

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AAA;
}


.cf:before,
.cf:after {
    content: " "; 
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.button { font-size:14px; }

#alphaTabScore { margin: 0 auto; width: 700px; text-align:left; }

.samples { position:absolute; width: 800px;}
.group { position: absolute; top: 50px; left: 0; right: 0; display:none;}