Title: Features
TexSample: true
ShowInNavbar: true
---

<p>
	These pages provide an insight on what features alphaTab offers. Navigate through the sections in the sidebar to check out the individual features.  
</p>

<div id="alphaTabShowcase" data-file="files/Canon.gp5"></div>
<script type="text/javascript">
	$('#alphaTabShowcase').alphaTab();
</script>