Title: Special Tracks
Order: 4
---

<h2>Drum Tabs</h2>

<p>
	AlphaTab uses the same drum tab notation as Guitar Pro 5. Since the guitar tab staff is not meaningful on 
	percussion track, it's hidden in case a drum tab is displayed.
</p>

<div id="alphaTabDrum" data-file="@Context.GetLink("/assets/files/features/Drums.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabDrum').alphaTab({
	});
</script>    

<h2>Grand Staff</h2>

<p>
	With Guitar Pro 6 files also grand staffs can be rendered.
</p>

<div id="alphaTabGs" data-file="@Context.GetLink("/assets/files/features/Piano.gpx")"></div>
<script type="text/javascript">
	$('#alphaTabGs').alphaTab({
	});
</script>    

<h2>Multiple Tracks</h2>

<p>
	AlphaTab can also render multiple tracks at the same time. 
</p>

<div id="alphaTabMulti" data-file="@Context.GetLink("/assets/files/MultiTrack.gp5")" data-tracks="[0,1]"></div>
<script type="text/javascript">
	$('#alphaTabMulti').alphaTab({
	});
</script>