Title: Special Notes
Order: 5
---

<h2 id="tied-notes">Tied Notes</h2>
  
<p>
	Tied notes are notes which are not hit a second time, 
	the note is being held. 
</p>

<div id="alphaTabTied" data-file="@Context.GetLink("/assets/files/features/TiedNotes.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabTied').alphaTab();
</script>  

<h2 id="grace-notes">Grace Notes</h2>
 
<p>
	Yes, alphaTab can render grace notes. 
</p>

<div id="alphaTabGrace" data-file="@Context.GetLink("/assets/files/features/GraceNotes.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabGrace').alphaTab();
</script>  

<h2 id="dead-notes">Dead Notes</h2>

<p>
	Dead notes are notes without a defined note height. On stringed instruments<br />
	they are played by hitting the string without pressing but with touching the finger on the fret.
</p>

<div id="alphaTabDead" data-file="@Context.GetLink("/assets/files/features/DeadNotes.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabDead').alphaTab();
</script>  

<h2 id="ghost-notes">Ghost Notes</h2>

<p>
	Ghost notes are played more slient than normal notes.
</p>

<div id="alphaTabGhost" data-file="@Context.GetLink("/assets/files/features/GhostNotes.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabGhost').alphaTab();
</script>       