name: Build
on: 
  push:
    branches: 
      - develop
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    name: Linting and TypeCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm install
      - run: npm run generate-typescript
      - run: npm run lint-ci
        if: ${{ always() }}
      - run: npm run typecheck
        if: ${{ always() }}

  build_web:
    name: Build and Test Web
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm ci
      - run: npm run build-web
      - run: npm run test-web
      - run: npm run build-language-server
      - run: npm run build-monaco
        id: test
      - uses: actions/upload-artifact@v6
        if: ${{ failure() && steps.test.conclusion == 'failure' }}
        with: 
          name: test-results-web
          path: |
            packages/alphatab/test-data/**/*.new.png
            packages/alphatab/test-data/**/*.diff.png

  build_csharp:
    name: Build and Test C#
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8'
      - run: npm ci
      - run: npm run build-csharp
      - run: npm run test-csharp
        id: test
      - uses: actions/upload-artifact@v6
        if: ${{ failure() && steps.test.conclusion == 'failure' }}
        with: 
          name: test-results-csharp
          path: |
            packages/alphatab/test-data/**/*.new.png
            packages/alphatab/test-data/**/*.diff.png

  build_kotlin:
    name: Build and Test Kotlin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - uses: actions/setup-java@v5
        with:
          java-version: '19'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false
      - run: npm ci
      - run: npm run build-kotlin
      - run: npm run test-kotlin
        id: test
      - uses: actions/upload-artifact@v6
        if: ${{ failure() && steps.test.conclusion == 'failure' }}
        with: 
          name: test-results-kotlin
          path: |
            packages/alphatab/test-data/**/*.new.png
            packages/alphatab/test-data/**/*.diff.png      
      - run: ./packages/kotlin/src/gradlew --stop
