name: Build
on: 
  push:
    branches: 
      - develop
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build_web:
    name: Build and Test Web
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
      - run: npm install
      - run: npm run build-ci
      - run: npm run test-ci

  build_csharp:
    name: Build and Test C#
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.x'
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version:  |
            6.0.x
      - run: npm install
      - run: npm run build-csharp-ci
      - run: npm run test-csharp-ci
