name: Release
on: 
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      release_web:
        type: boolean
        description: Release web packages
        default: true
      release_csharp:
        type: boolean
        description: Release C# packages
        default: true
      release_kotlin_android:
        type: boolean
        description: Release Android packages
        default: true                

jobs:
  web:
    uses: ./.github/workflows/~publish_web.yml@feature/publish-pipeline
    secrets: inherit
    if: (github.event_name == 'push') || (github.event_name == 'workflow_dispatch' && github.event.inputs.release_web == 'true')
    with: 
      version: ${{github.run_number}}
      npm_tag: latest
      force: true

  dotnet:
    uses: ./.github/workflows/~publish_dotnet.yml@feature/publish-pipeline
    secrets: inherit
    if: (github.event_name == 'push') || (github.event_name == 'workflow_dispatch' && github.event.inputs.release_csharp == 'true')
    with: 
      version: ${{github.run_number}}
      force: true

  kotlin:
    uses: ./.github/workflows/~publish_kotlin.yml@feature/publish-pipeline
    secrets: inherit
    if: (github.event_name == 'push') || (github.event_name == 'workflow_dispatch' && github.event.inputs.release_kotlin_android == 'true')
    with: 
      version: ${{github.run_number}}
      force: true