/*
 * This file is part of alphaTab.
 *
 *  alphaTab is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  alphaTab is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with alphaTab.  If not, see <http://www.gnu.org/licenses/>.
 */

/** General Style **/
body, html {
	margin:0;
	padding:0;
}

body{font-family:Arial, Verdana, Helvetica, sans-serif;font-size:12px;color:#575757;background:#efefef;}
h1{color:#575757;text-shadow:1px 1px 0 #FFF;font-weight:normal;margin:0 0 10px 0;font-size:24px;}
h2{color:#426d9d;font-size:18px;margin:0 0 6px 0;}
h3{color:#426d9d;font-size:16px;}

a:link, a:visited {
	color:#335c82;
	text-decoration:none;
}

a:hover, a:active {
	text-decoration:underline;
}

#Content {
	padding:5px 5px;
}

#TopNavWrapper {
	border-bottom:3px solid #2d4364;
	background:#081214;
	height:103px;
}

/* Center Block */
#TopNav, #Slider, #SliderDesc, #Content, #Footer {
	margin:0 auto;
	width:1010px;
}

#TopNav {
	height:103px;
	background:url('images/top_menu_bg.gif') repeat-y;
}

#AlphaTabLogo {
	width:231px;
	height:81px;
	display:block;
	background:url('images/alphatab_logo.gif') no-repeat;
	float:left;
	margin-top:10px;
}

#TopNav ul {
	padding:0;
	margin:0;
	list-style-type:none;
	float:right;
	margin:39px 60px 0 0;
}

#TopNav ul li {
	float:left;
	width:120px;
	height:29px;
	background:url('images/menu_item.gif') no-repeat;
	margin-left:8px;
}

#TopNav ul li.active  {
	background:url('images/menu_item_active.gif') no-repeat;
}

#TopNav ul li a {
	display:block;			
	width:118px;
	height:21px;	
	text-align:center;
	margin-top: 6px;
	color:#FFF;
	font-size:13px;
}

#TopNav ul li a:hover { 
	text-decoration:none;
}

fieldset {
	 -moz-border-radius: 5px; 
	 -webkit-border-radius: 5px; 
	 border: 1px solid #666;
	 width:780px;
}

.hint {
	border:4px solid rgb(190,215,190);
	padding:4px 4px;
}

ul {
	list-style: square;
	margin: 0 0 18px 0;
	padding: 0 0 0 30px;
}

ul a {
	color:#426d9d;font-size:16px;
	margin-bottom:3px;
	display:block;
}

ul li {
	margin-bottom:10px;
}

code, pre {
	border:2px solid rgb(190,215,190);
	background:#F5F5F5;
	/* Radius */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height:auto!;
	margin:7px 7px;
	height:auto;
	white-space:pre;	
	padding:5px;
}

pre {
	width:300px;
}

code {
	display:block;
	float:left;
}